/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  height: 100%;
  margin: 0;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.headerContainer {
  /* The image used */
  background-image: url("img/header_eagle.jpg");
  /* Full height */
  height: 100vh;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.headerContainer .headerContent {
  display: block;
  margin: auto;
  width: 1200px;
  font-size: 0;
  padding-top: 20px;
}
.headerContainer .headerContent p {
  display: inline-block;
  font-size: 1rem;
  width: 20%;
  font-size: 1.875rem;
  font-weight: bold;
  color: white;
}
.headerContainer .headerContent .hamburger {
  display: none;
  text-align: end;
  width: 80%;
}
.headerContainer .headerContent .hamburger svg {
  width: 2rem;
  padding-top: 4px;
}
.headerContainer .headerContent .navigationButtons {
  font-size: 12px;
  display: inline-block;
  width: 80%;
  text-align: end;
}
.headerContainer .headerContent .navigationButtons a {
  font-size: 0.875rem;
  color: white;
  text-decoration: none;
  margin-left: 20px;
}
.headerContainer .headerContent .navigationButtons a .test {
  fill: white;
  vertical-align: middle;
  transform: translateY(-1px);
}
.headerContainer .headerContent .navigationButtons a .test:hover {
  fill: #fce38a;
  stroke: #fce38a;
}
.headerContainer .headerContent .navigationButtons a:hover {
  color: #fce38a;
  padding-bottom: 10px;
  border-bottom: solid 3px #fce38a;
  transition: all 0.2s ease;
}
.headerContainer .headerContent .navigationButtons a:hover .test {
  fill: #fce38a;
  stroke: #fce38a;
  transition: all 0.2s ease;
}
.headerContainer .headerContent .headerText {
  text-align: center;
}
.headerContainer .headerContent .headerText h2 {
  padding-top: 150px;
  padding-bottom: 50px;
  font-size: 3rem;
  font-family: "Kaushan Script", cursive;
  color: white;
}
.headerContainer .headerContent .headerText h1 {
  font-size: 5rem;
  color: white;
  font-weight: bold;
}
.headerContainer .headerContent .headerText hr {
  width: 80px;
  height: 3px;
  background-color: white;
  border: none;
  margin-top: 50px;
}
.headerContainer .headerContent .headerText button {
  background-color: transparent;
  font-size: 0.875rem;
  color: white;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: solid 3px white;
  font-weight: bold;
  margin-top: 40px;
}
.headerContainer .headerContent .headerWrapper {
  font-size: 0px;
  margin-top: 230px;
}
.headerContainer .headerContent .headerWrapper div {
  display: inline-block;
  font-size: 10px;
  width: 22%;
  height: 3px;
  margin-left: 4%;
  position: relative;
  box-sizing: border-box;
}
.headerContainer .headerContent .headerWrapper div span {
  height: 100%;
  display: block;
  width: 20%;
  background-color: #f38181;
  border: none;
  position: absolute;
}
.headerContainer .headerContent .headerWrapper div .line {
  height: 100%;
  display: block;
  width: 100%;
  background-color: white;
  border: none;
  position: absolute;
  opacity: 0.5;
}
.headerContainer .headerContent .headerWrapper div h3 {
  margin-top: 20px;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  opacity: 0.7;
}
.headerContainer .headerContent .headerWrapper div h4 {
  margin-left: 5px;
  display: inline-block;
  font-size: 1.125rem;
  color: white;
  opacity: 0.7;
}
.headerContainer .headerContent .headerWrapper div:first-child {
  opacity: 1;
  margin-left: 0;
  background-color: white;
}
.headerContainer .headerContent div:first-child {
  margin-left: 0px;
}

.storyContainer {
  width: 100%;
}
.storyContainer .storyContent {
  display: block;
  margin: auto;
  width: 1200px;
  text-align: center;
  margin-bottom: 100px;
}
.storyContainer h2 {
  margin-top: 100px;
  font-family: "Kaushan Script", cursive;
  font-size: 1.5rem;
  margin-bottom: 30px;
}
.storyContainer h1 {
  font-weight: bold;
  font-size: 1.875rem;
}
.storyContainer hr {
  width: 80px;
  height: 3px;
  border: none;
  margin-top: 50px;
  background-color: #f38181;
}
.storyContainer p {
  margin-top: 50px;
  font-size: 0.938rem;
  color: #999999;
  font-family: "Roboto", sans-serif;
  line-height: 20px;
}
.storyContainer .storyImg {
  font-size: 0;
  margin-top: 40px;
  margin-bottom: 40px;
}
.storyContainer .storyImg .container {
  position: relative;
  width: 30%;
  display: inline-block;
  margin-left: 5%;
  cursor: pointer;
}
.storyContainer .storyImg .container:first-child {
  margin-left: 0px;
}
.storyContainer .storyImg .img {
  margin-left: 5%;
  transition: 0.5s ease;
  width: 100%;
}
.storyContainer .storyImg .img:first-child {
  margin-left: 0%;
}
.storyContainer .storyImg .container:hover .img {
  box-shadow: 1px 1px #95e1d3, 2px 2px #95e1d3, 3px 3px #95e1d3, 4px 4px #95e1d3, 5px 5px #95e1d3, 6px 6px #95e1d3;
  transform: translateX(-3px);
  transition: 0.5s ease;
  cursor: pointer;
}
.storyContainer .storyImg .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background: rgb(251, 227, 137);
  background: linear-gradient(0deg, rgba(251, 227, 137, 0.7) 0%, rgba(243, 129, 129, 0.7) 100%);
}
.storyContainer .storyImg .container:hover .overlay {
  opacity: 1;
  transform: translateX(-3px);
}
.storyContainer .storyImg .text {
  color: white;
  font-size: 1.125rem;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.employers {
  width: 100%;
  background-color: #95e1d3;
  text-align: center;
}
.employers .employersContent {
  display: block;
  margin: auto;
  width: 1200px;
  height: 100%;
  font-size: 0;
}
.employers .employersContent div {
  display: inline-block;
  box-sizing: border-box;
  width: 20%;
  height: 270px;
  border-right: solid 1px white;
  vertical-align: middle;
}
.employers .employersContent div h1 {
  color: white;
  font-size: 4.5rem;
  font-weight: bold;
  padding-top: 80px;
}
.employers .employersContent div h2 {
  color: white;
  font-size: 0.875rem;
  font-family: "Montserrat", sans-serif;
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
  margin-top: 30px;
}
.employers .employersContent div:first-child {
  border-left: solid 1px white;
}

.amazingContainer {
  width: 100%;
}
.amazingContainer .amazingContent {
  display: block;
  margin: auto;
  width: 1200px;
  text-align: center;
}
.amazingContainer h2 {
  margin-top: 100px;
  font-family: "Kaushan Script", cursive;
  font-size: 1.5rem;
  margin-bottom: 30px;
}
.amazingContainer h1 {
  font-weight: bold;
  font-size: 1.875rem;
}
.amazingContainer hr {
  width: 80px;
  height: 3px;
  border: none;
  margin-top: 50px;
  background-color: #f38181;
}
.amazingContainer p {
  margin-top: 0px;
  font-size: 0.938rem;
  color: #999999;
  font-family: "Roboto", sans-serif;
  line-height: 20px;
}
.amazingContainer .services {
  margin-top: 100px;
  text-align: left;
  font-size: 0px;
}
.amazingContainer .services hr {
  width: 100%;
  height: 1px;
  border: none;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: #d0c8c8;
}
.amazingContainer .services .serviceContent {
  display: inline-block;
  width: 30%;
  padding-left: 5%;
}
.amazingContainer .services .serviceContent img {
  display: inline-block;
}
.amazingContainer .services .serviceContent .img {
  width: 15%;
  vertical-align: top;
}
.amazingContainer .services .serviceContent div {
  display: inline-block;
  width: 85%;
}
.amazingContainer .services .serviceContent div p {
  color: #999999;
  font-size: 0.938rem;
  font-family: "Roboto", sans-serif;
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
}
.amazingContainer .services .serviceContent div h4 {
  color: #333333;
  font-size: 0.875rem;
  padding-bottom: 15px;
  font-weight: bold;
}
.amazingContainer .serviceContent:first-child, .amazingContainer .serviceContent:nth-child(5) {
  padding-left: 0px;
}

.responsiveContainer {
  margin-top: 60px;
  background-image: url("img/responsive.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 905px;
}
.responsiveContainer .responsiveContent {
  display: block;
  margin: auto;
  width: 1200px;
  text-align: center;
  padding-top: 100px;
}
.responsiveContainer h2 {
  font-family: "Kaushan Script", cursive;
  font-size: 1.5rem;
  margin-bottom: 30px;
}
.responsiveContainer h1 {
  font-weight: bold;
  font-size: 1.875rem;
}
.responsiveContainer hr {
  width: 80px;
  height: 3px;
  border: none;
  margin-top: 50px;
  background-color: #f38181;
}
.responsiveContainer p {
  margin-top: 0px;
  font-size: 0.938rem;
  color: #999999;
  font-family: "Roboto", sans-serif;
  line-height: 20px;
}
.responsiveContainer .phone {
  width: 200px;
  position: relative;
  left: 250px;
  top: -200px;
}
.responsiveContainer .tablet {
  display: block;
  margin: auto;
  position: relative;
  top: 20px;
  width: 500px;
  overflow: hidden;
  height: 640px;
}
.responsiveContainer .tablet img {
  width: 100%;
}

.serviceContainer {
  margin-top: 60px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.serviceContainer .serviceContent {
  display: block;
  margin: auto;
  width: 1200px;
  text-align: center;
  padding-top: 100px;
}
.serviceContainer h2 {
  font-family: "Kaushan Script", cursive;
  font-size: 1.5rem;
  margin-bottom: 30px;
}
.serviceContainer h1 {
  font-weight: bold;
  font-size: 1.875rem;
}
.serviceContainer hr {
  width: 80px;
  height: 3px;
  border: none;
  margin-top: 50px;
  background-color: #f38181;
}
.serviceContainer p {
  font-size: 0.938rem;
  color: #999999;
  font-family: "Roboto", sans-serif;
  line-height: 20px;
  margin-top: 50px;
}
.serviceContainer .serviceAcordionContainer {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: left;
  font-size: 0;
}
.serviceContainer .serviceAcordionContainer .serviceImg {
  display: inline-block;
  max-width: 45%;
  padding-right: 5%;
  height: 100%;
}
.serviceContainer .serviceAcordionContainer .serviceImg img {
  -o-object-fit: cover;
     object-fit: cover;
}
.serviceContainer .serviceAcordionContainer .serviceAcordion {
  display: inline-block;
  font-size: 16px;
  vertical-align: top;
  width: 50%;
}
.serviceContainer .serviceAcordionContainer .serviceAcordion .margin {
  margin-bottom: 17px;
}
.serviceContainer .serviceAcordionContainer .serviceAcordion .acordionElement {
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
  border: solid 1px #e5e5e5;
  font-size: 0;
}
.serviceContainer .serviceAcordionContainer .serviceAcordion .acordionElement .arrowDiv {
  display: inline-block;
  text-align: end;
  width: 50%;
}
.serviceContainer .serviceAcordionContainer .serviceAcordion .acordionElement .arrowDiv .arrow {
  vertical-align: middle;
  display: inline-block;
}
.serviceContainer .serviceAcordionContainer .serviceAcordion .acordionElement .iconDiv {
  display: inline-block;
  width: 50%;
}
.serviceContainer .serviceAcordionContainer .serviceAcordion .acordionElement .iconDiv h3 {
  display: inline-block;
  font-size: 0.875rem;
  vertical-align: middle;
  font-weight: 600;
}
.serviceContainer .serviceAcordionContainer .serviceAcordion .acordionElement .iconDiv .icon {
  vertical-align: middle;
  display: inline-block;
  padding-right: 15px;
}
.serviceContainer .serviceAcordionContainer .serviceAcordion .acordionOpen {
  width: 100%;
  border: solid 1px #e5e5e5;
  border-top: none;
  margin-top: 0px;
  box-sizing: border-box;
  position: relative;
}
.serviceContainer .serviceAcordionContainer .serviceAcordion .acordionOpen p {
  display: inline-block;
  width: 90%;
  margin-top: 0px;
  padding: 15px;
  color: #999999;
  font-size: 0.938rem;
  font-style: italic;
  height: 100%;
}
.serviceContainer .serviceAcordionContainer .serviceAcordion .acordionOpen .scroller {
  display: inline-block;
  width: 5px;
  height: 130px;
  background-color: #f5f5f5;
  border-left: 10px transparent;
  border-radius: 50px;
  position: absolute;
  top: 10px;
}
.serviceContainer .serviceAcordionContainer .serviceAcordion .acordionOpen .scroller .scroll {
  width: 100%;
  height: 60%;
  background-color: #95e1d3;
  border-radius: 50px;
}

.messageContainer {
  width: 100%;
  background-color: #f8f8f8;
}
.messageContainer .messageContent {
  width: 1200px;
  display: block;
  margin: auto;
  height: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  font-size: 0;
}
.messageContainer .messageContent img {
  vertical-align: middle;
  display: inline-block;
}
.messageContainer .messageContent .messageContent1 {
  display: inline-block;
  width: 25%;
  padding-right: 5%;
  font-size: 0;
}
.messageContainer .messageContent .messageContent1 .m1 {
  display: inline-block;
  width: 30%;
  text-align: left;
}
.messageContainer .messageContent .messageContent1 .m2 {
  display: inline-block;
  width: 70%;
  text-align: right;
}
.messageContainer .messageContent .messageContent2 {
  display: inline-block;
  width: 5%;
  text-align: right;
}
.messageContainer .messageContent .message {
  display: inline-block;
  width: 65%;
  text-align: left;
  vertical-align: middle;
}
.messageContainer .messageContent .message p {
  font-family: "Roboto", sans-serif;
  color: #999999;
  font-style: italic;
  font-size: 1.5rem;
  line-height: 35px;
}
.messageContainer .messageContent .message div {
  padding-top: 20px;
}
.messageContainer .messageContent .message div hr {
  display: inline-block;
  width: 40px;
  vertical-align: middle;
  border: none;
  background-color: #f38181;
  height: 3px;
}
.messageContainer .messageContent .message div p {
  display: inline-block;
  font-family: "Kaushan Script", cursive;
  color: #333333;
  font-size: 1.5rem;
  padding-left: 10px;
}
.messageContainer .messageContent .message:first-child {
  text-align: left;
}

.teamContainer {
  margin-top: 60px;
}
.teamContainer .teamContent {
  display: block;
  margin: auto;
  width: 1200px;
  text-align: center;
  padding-top: 100px;
}
.teamContainer h2 {
  font-family: "Kaushan Script", cursive;
  font-size: 1.5rem;
  margin-bottom: 30px;
}
.teamContainer h1 {
  font-weight: bold;
  font-size: 1.875rem;
}
.teamContainer hr {
  width: 80px;
  height: 3px;
  border: none;
  margin-top: 50px;
  background-color: #f38181;
}
.teamContainer p {
  font-size: 0.938rem;
  color: #999999;
  font-family: "Roboto", sans-serif;
  line-height: 20px;
  margin-top: 50px;
}
.teamContainer .storyImg {
  font-size: 0;
  margin-top: 40px;
  margin-bottom: 40px;
}
.teamContainer .storyImg .teamHolder {
  width: 30%;
  display: inline-block;
  margin-left: 5%;
  margin-top: 50px;
}
.teamContainer .storyImg .teamHolder:first-child {
  margin-left: 0px;
}
.teamContainer .storyImg .container {
  position: relative;
  width: 100%;
  display: inline-block;
  cursor: pointer;
}
.teamContainer .storyImg .img {
  transition: 0.5s ease;
  width: 100%;
}
.teamContainer .storyImg .img:first-child {
  margin-left: 0%;
}
.teamContainer .storyImg .container:hover .img {
  box-shadow: 1px 1px #95e1d3, 2px 2px #95e1d3, 3px 3px #95e1d3, 4px 4px #95e1d3, 5px 5px #95e1d3, 6px 6px #95e1d3;
  transform: translateX(-3px);
  transition: 0.5s ease;
  cursor: pointer;
}
.teamContainer .storyImg .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background: rgb(251, 227, 137);
  background: linear-gradient(0deg, rgba(251, 227, 137, 0.7) 0%, rgba(243, 129, 129, 0.7) 100%);
}
.teamContainer .storyImg .container:hover .overlay {
  opacity: 1;
  transform: translateX(-3px);
}
.teamContainer .storyImg .text {
  color: white;
  font-size: 1.125rem;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 0;
  width: 100%;
}
.teamContainer .storyImg .text svg {
  width: 45px;
  fill: #f38181;
  stroke: #f38181;
  padding: 4px;
  background-color: #fbe389;
  transition: all 0.5s ease;
}
.teamContainer .storyImg .text svg:hover {
  fill: white;
  stroke: white;
  background-color: #f38181;
}
.teamContainer .storyImg .text svg:last-child {
  width: 35px;
  padding: 9px;
}
.teamContainer .storyImg .teamDescription {
  font-size: 20px;
}
.teamContainer .storyImg .teamDescription h3 {
  margin-top: 20px;
  font-size: 0.875rem;
  font-weight: bold;
}
.teamContainer .storyImg .teamDescription p {
  margin-top: 15px;
  font-size: 0.938rem;
  font-style: italic;
  margin-bottom: 20px;
}

.sponsorContainer {
  width: 100%;
  background-color: #f8f8f8;
}
.sponsorContainer .sponsorContent {
  width: 1200px;
  display: block;
  margin: auto;
}
.sponsorContainer .sponsorContent img {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
}

.sectionStart {
  width: 100%;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.sectionStart .sectionContent {
  display: block;
  margin: auto;
  width: 1200px;
  font-size: 0;
}
.sectionStart .sectionContent h2 {
  font-family: "Kaushan Script", cursive;
  font-size: 1.5rem;
  margin-bottom: 30px;
}
.sectionStart .sectionContent h1 {
  font-weight: bold;
  font-size: 1.875rem;
}
.sectionStart .sectionContent hr {
  width: 80px;
  height: 3px;
  border: none;
  margin-top: 50px;
  background-color: #f38181;
}
.sectionStart .sectionContent p {
  font-size: 0.938rem;
  color: #999999;
  font-family: "Roboto", sans-serif;
  line-height: 20px;
  margin-top: 50px;
}

.galery {
  width: 100%;
  font-size: 0;
}
.galery .galeryElement {
  width: 25%;
  display: inline-block;
}
.galery .galeryElement .container {
  position: relative;
  width: 100%;
  display: inline-block;
  cursor: pointer;
}
.galery .galeryElement .container:hover .img {
  box-shadow: 1px 1px #95e1d3, 2px 2px #95e1d3, 3px 3px #95e1d3, 4px 4px #95e1d3, 5px 5px #95e1d3, 6px 6px #95e1d3;
  transform: translateX(-3px);
  transition: 0.5s ease;
  cursor: pointer;
}
.galery .galeryElement .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background: rgb(251, 227, 137);
  background: linear-gradient(0deg, rgba(251, 227, 137, 0.7) 0%, rgba(243, 129, 129, 0.7) 100%);
}
.galery .galeryElement .container:hover .overlay {
  opacity: 1;
}
.galery .galeryElement .text {
  color: white;
  font-size: 1.125rem;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 0;
  width: 100%;
}
.galery .galeryElement .text img {
  width: 40px;
}
.galery .galeryElement .text h3 {
  font-size: 0.813rem;
  margin-top: 10px;
}
.galery .galeryElement .text p {
  font-size: 0.938rem;
  margin-top: 10px;
}
.galery .galeryElement .photo2 {
  width: 100%;
  height: 50%;
  display: block;
}
.galery .galeryElement .photo2 .bg-picture {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.galery .galeryElement .photo1 {
  width: 100%;
  height: 100%;
}
.galery .galeryElement .photo1 .bg-picture {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.peopleContainer {
  width: 100%;
  background-image: url(img/poeplebgr.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.peopleContainer .sectionContent {
  padding-top: 100px;
}
.peopleContainer .peopleContent {
  width: 1200px;
  display: block;
  margin: auto;
  font-size: 0px;
}
.peopleContainer .peopleContent .peopleHolder {
  display: inline-block;
  width: 45%;
  margin-bottom: 80px;
}
.peopleContainer .peopleContent .peopleHolder .peoplePicture {
  display: inline-block;
  width: 20%;
  padding-right: 5%;
}
.peopleContainer .peopleContent .peopleHolder .peopleDescription {
  display: inline-block;
  width: 75%;
  vertical-align: top;
}
.peopleContainer .peopleContent .peopleHolder .peopleDescription h4 {
  font-size: 0.875rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.peopleContainer .peopleContent .peopleHolder .peopleDescription p {
  font-size: 0.938rem;
  font-family: "Roboto", sans-serif;
  color: #999999;
  line-height: 30px;
}
.peopleContainer .peopleContent .peopleHolder .peopleDescription hr {
  display: inline-block;
  width: 60px;
  vertical-align: middle;
  border: none;
  background-color: #f38181;
  height: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.peopleContainer .peopleContent .peopleHolder .peopleDescription .i {
  font-style: italic;
  line-height: 1;
}
.peopleContainer .peopleContent .padding {
  margin-left: 10%;
}

.latestContainer {
  width: 100%;
}
.latestContainer .latestContent {
  width: 1200px;
  display: block;
  margin: auto;
  font-size: 0;
  margin-bottom: 100px;
}
.latestContainer .latestContent .storyHolder {
  width: 30%;
  display: inline-block;
  padding-left: 5%;
}
.latestContainer .latestContent .storyHolder .img {
  position: relative;
}
.latestContainer .latestContent .storyHolder .img img {
  width: 100%;
}
.latestContainer .latestContent .storyHolder .date {
  background-color: #95e1d3;
  width: 60px;
  bottom: 15px;
  left: -10px;
  text-align: center;
  position: absolute;
}
.latestContainer .latestContent .storyHolder .date h1 {
  font-size: 1.875rem;
  color: white;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 4px;
}
.latestContainer .latestContent .storyHolder .date p {
  font-size: 0.938rem;
  font-style: italic;
  font-weight: 300;
  color: white;
  padding-bottom: 10px;
  line-height: 15px;
}
.latestContainer .latestContent .storyHolder h1 {
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
  font-size: 0.875rem;
  font-weight: bold;
  color: #333333;
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
}
.latestContainer .latestContent .storyHolder p {
  font-size: 0.738rem;
  color: #999999;
  font-family: "Roboto", sans-serif;
  line-height: 24px;
  font-weight: 400;
}
.latestContainer .latestContent .storyHolder hr {
  height: 1px;
  background-color: #e5e5e5;
  border: none;
  margin-top: 15px;
  margin-bottom: 15px;
}
.latestContainer .latestContent .storyHolder .socials p {
  display: inline-block;
  vertical-align: top;
  padding-right: 20px;
  font-style: italic;
  line-height: 15px;
}
.latestContainer .latestContent .storyHolder .socials img {
  display: inline-block;
  height: 15px;
  padding-right: 5px;
}
.latestContainer .latestContent .storyHolder:first-child {
  padding-left: 0px;
}

.openMapContainer {
  width: 100%;
  background-image: url(img/openMapBG.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 40px;
}
.openMapContainer .openMapContent {
  display: block;
  width: 1200px;
  text-align: center;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}
.openMapContainer .openMapContent h1 {
  font-size: 1.5rem;
  color: #f38181;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}
.openMapContainer .openMapContent hr {
  width: 60px;
  height: 3px;
  background-color: #f38181;
  border: none;
}

.footerContainer {
  width: 100%;
}
.footerContainer .footerContent {
  display: block;
  margin: auto;
  width: 1200px;
  font-size: 0;
}
.footerContainer .footerContent .mogo {
  width: 40%;
  display: inline-block;
}
.footerContainer .footerContent .mogo .logo {
  font-size: 2.875rem;
  color: #cccccc;
  font-weight: bold;
  margin-bottom: 30px;
}
.footerContainer .footerContent .mogo .text {
  font-size: 0.938rem;
  line-height: 24px;
  color: #999999;
  font-family: "Roboto", sans-serif;
  margin-bottom: 15px;
}
.footerContainer .footerContent .mogo .follow {
  color: #333333;
  font-size: 0.875rem;
}
.footerContainer .footerContent .mogo .bold {
  color: #333333;
  font-size: 1.125rem;
  font-weight: bold;
}
.footerContainer .footerContent .mogo hr {
  height: 1px;
  background-color: #e5e5e5;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
}
.footerContainer .footerContent .mogo .socials {
  margin-bottom: 30px;
}
.footerContainer .footerContent .mogo .socials p {
  display: inline-block;
  font-size: 0.938rem;
  color: #999999;
  vertical-align: middle;
  font-family: "Roboto", sans-serif;
  font-style: italic;
}
.footerContainer .footerContent .mogo .socials img {
  display: inline-block;
  padding-left: 7px;
  vertical-align: middle;
}
.footerContainer .footerContent .mogo .subscribe {
  font-size: 0;
}
.footerContainer .footerContent .mogo .subscribe input {
  width: 230px;
  height: 40px;
  background-color: #ffffff;
  border: 1px solid #e7e7e7;
  font-weight: 300;
  font-style: italic;
  font-family: "Roboto", sans-serif;
  padding-left: 10px;
  display: inline-block;
  box-sizing: border-box;
  border-right: none;
}
.footerContainer .footerContent .mogo .subscribe input::-moz-placeholder {
  color: #cccccc;
  font-size: 15px;
  line-height: 24px;
  font-family: "Roboto", sans-serif;
}
.footerContainer .footerContent .mogo .subscribe input::placeholder {
  color: #cccccc;
  font-size: 15px;
  line-height: 24px;
  font-family: "Roboto", sans-serif;
}
.footerContainer .footerContent .mogo .subscribe button {
  display: inline-block;
  width: 150px;
  height: 40px;
  background-color: #95e1d3;
  border: none;
  font-weight: bold;
  font-size: 0.875rem;
  color: white;
  vertical-align: top;
}
.footerContainer .footerContent .blogs {
  margin-left: 5%;
  display: inline-block;
  vertical-align: top;
  width: 30%;
}
.footerContainer .footerContent .blogs h1 {
  font-size: 14px;
  text-transform: uppercase;
  color: #333333;
  font-weight: bold;
  font-family: "Montserrat";
  margin-bottom: 30px;
}
.footerContainer .footerContent .blogs .blog .img {
  display: inline-block;
  width: 35%;
}
.footerContainer .footerContent .blogs .blog div {
  display: inline-block;
  vertical-align: middle;
  width: 65%;
  margin-bottom: 16px;
}
.footerContainer .footerContent .blogs .blog div p {
  font-size: 14px;
  -webkit-margin-before: 0.67em;
          margin-block-start: 0.67em;
  -webkit-margin-after: 0.67em;
          margin-block-end: 0.67em;
}
.footerContainer .footerContent .blogs .blog div h1 {
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
}
.footerContainer .footerContent .instagram {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-left: 5%;
}
.footerContainer .footerContent .instagram h1 {
  font-size: 14px;
  text-transform: uppercase;
  color: #333333;
  font-weight: bold;
  font-family: "Montserrat";
  margin-bottom: 30px;
}
.footerContainer .footerContent .instagram .insta img {
  width: 33%;
}
.footerContainer .footerContent .instagram p {
  font-size: 13px;
  line-height: 24px;
  color: #333333;
  font-weight: 300;
  font-style: italic;
  font-family: "Roboto";
  margin-top: 15px;
}

.copyrightContainer {
  margin-top: 30px;
  width: 100%;
}
.copyrightContainer .copyrightContent {
  width: 1200px;
  display: block;
  margin: auto;
  text-align: center;
}
.copyrightContainer .copyrightContent hr {
  margin-bottom: 20px;
  height: 1px;
  background-color: #e5e5e5;
  border: none;
}
.copyrightContainer .copyrightContent p {
  font-size: 0.875rem;
  color: #333333;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: center;
  padding-bottom: 20px;
}
.copyrightContainer .copyrightContent p span {
  color: #f38181;
}

@media only screen and (max-width: 1200px) {
  .headerContainer .headerContent {
    width: 1000px;
  }
  .headerContainer .headerContent .headerWrapper {
    font-size: 0px;
    margin-top: 190px;
  }
  .headerContainer .headerContent .headerWrapper div {
    display: inline-block;
    font-size: 10px;
    width: 22%;
    height: 3px;
    margin-left: 4%;
    position: relative;
    box-sizing: border-box;
  }
  .headerContainer .headerContent .headerWrapper div span {
    height: 100%;
    display: block;
    width: 20%;
    background-color: #f38181;
    border: none;
    position: absolute;
  }
  .headerContainer .headerContent .headerWrapper div .line {
    height: 100%;
    display: block;
    width: 100%;
    background-color: white;
    border: none;
    position: absolute;
    opacity: 0.5;
  }
  .headerContainer .headerContent .headerWrapper div h3 {
    margin-top: 20px;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    opacity: 0.7;
  }
  .headerContainer .headerContent .headerWrapper div h4 {
    margin-left: 5px;
    display: inline-block;
    font-size: 1.125rem;
    color: white;
    opacity: 0.7;
  }
  .headerContainer .headerContent .headerWrapper div:first-child {
    opacity: 1;
    margin-left: 0;
    background-color: white;
  }
  .storyContainer .storyContent {
    width: 1000px;
  }
  .employers .employersContent {
    width: 1000px;
  }
  .amazingContainer .amazingContent {
    width: 1000px;
  }
  .responsiveContainer .responsiveContent {
    width: 1000px;
  }
  .serviceContainer .serviceContent {
    width: 1000px;
  }
  .serviceContainer .serviceContent .serviceImg img {
    transform: translateY(50px);
    width: 450px;
  }
  .messageContainer .messageContent {
    width: 1000px;
  }
  .teamContainer .teamContent {
    width: 1000px;
  }
  .sponsorContainer .sponsorContent {
    width: 1000px;
  }
  .sectionStart .sectionContent {
    width: 1000px;
  }
  .galery .galeryElement {
    width: 50%;
  }
  .peopleContainer .peopleContent {
    width: 1000px;
  }
  .latestContainer .latestContent {
    width: 1000px;
  }
  .openMapContainer .openMapContent {
    width: 1000px;
  }
  .footerContainer .footerContent {
    width: 1000px;
  }
  .footerContainer .footerContent .blogs {
    margin-left: 5%;
    display: inline-block;
    vertical-align: top;
    width: 30%;
  }
  .footerContainer .footerContent .blogs h1 {
    font-size: 14px;
    text-transform: uppercase;
    color: #333333;
    font-weight: bold;
    font-family: "Montserrat";
    margin-bottom: 30px;
  }
  .footerContainer .footerContent .blogs .blog .img {
    display: inline-block;
    width: 42%;
  }
  .footerContainer .footerContent .blogs .blog div {
    display: inline-block;
    vertical-align: middle;
    width: 58%;
    margin-bottom: 16px;
  }
  .footerContainer .footerContent .blogs .blog div p {
    font-size: 14px;
    -webkit-margin-before: 0.67em;
            margin-block-start: 0.67em;
    -webkit-margin-after: 0.67em;
            margin-block-end: 0.67em;
  }
  .footerContainer .footerContent .blogs .blog div h1 {
    -webkit-margin-before: 0em;
            margin-block-start: 0em;
    -webkit-margin-after: 0em;
            margin-block-end: 0em;
    font-size: 0.75rem;
  }
  .copyrightContainer .copyrightContent {
    width: 1000px;
  }
}
@media only screen and (max-width: 1024px) {
  .headerContainer .headerContent {
    width: 90%;
  }
  .headerContainer .headerContent .headerWrapper {
    font-size: 0px;
    margin-top: 160px;
  }
  .headerContainer .headerContent .headerWrapper div {
    display: inline-block;
    font-size: 10px;
    width: 22%;
    height: 3px;
    margin-left: 4%;
    position: relative;
    box-sizing: border-box;
  }
  .headerContainer .headerContent .headerWrapper div span {
    height: 100%;
    display: block;
    width: 20%;
    background-color: #f38181;
    border: none;
    position: absolute;
  }
  .headerContainer .headerContent .headerWrapper div .line {
    height: 100%;
    display: block;
    width: 100%;
    background-color: white;
    border: none;
    position: absolute;
    opacity: 0.5;
  }
  .headerContainer .headerContent .headerWrapper div h3 {
    margin-top: 20px;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    opacity: 0.7;
  }
  .headerContainer .headerContent .headerWrapper div h4 {
    margin-left: 5px;
    display: inline-block;
    font-size: 1.125rem;
    color: white;
    opacity: 0.7;
  }
  .headerContainer .headerContent .headerWrapper div:first-child {
    opacity: 1;
    margin-left: 0;
    background-color: white;
  }
  .storyContainer .storyContent {
    width: 90%;
  }
  .storyContainer .storyContent img {
    width: 90%;
  }
  .employers .employersContent {
    width: 90%;
    height: -moz-max-content;
    height: max-content;
  }
  .employers .employersContent div {
    display: inline-block;
    margin: auto;
    height: auto;
    border: none;
    border-bottom: solid white 1px;
    width: 100%;
    padding-bottom: 30px;
    padding-top: 30px;
    width: 50%;
  }
  .employers .employersContent div h1 {
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    padding-top: 0px;
  }
  .employers .employersContent div h2 {
    color: white;
    font-size: 0.875rem;
    font-family: "Montserrat", sans-serif;
    -webkit-margin-before: 0em;
            margin-block-start: 0em;
    -webkit-margin-after: 0em;
            margin-block-end: 0em;
    margin-top: 20px;
    margin-bottom: 0;
  }
  .employers .employersContent div:first-child {
    border-left: none;
  }
  .employers .employersContent div:last-child {
    border-bottom: none;
  }
  .amazingContainer .amazingContent {
    width: 90%;
  }
  .amazingContainer .amazingContent .services {
    margin-top: 100px;
    text-align: left;
    font-size: 0px;
  }
  .amazingContainer .amazingContent .services hr {
    width: 100%;
    height: 1px;
    border: none;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #d0c8c8;
  }
  .amazingContainer .amazingContent .services .serviceContent .img {
    width: 20%;
  }
  .amazingContainer .amazingContent .services .serviceContent div {
    width: 80%;
  }
  .responsiveContainer .responsiveContent {
    width: 90%;
  }
  .responsiveContainer .responsiveContent .phone {
    width: 200px;
    position: relative;
    left: 250px;
    top: -200px;
  }
  .serviceContainer .serviceContent {
    width: 90%;
  }
  .serviceContainer .serviceContent .serviceAcordionContainer .serviceImg {
    display: none;
  }
  .serviceContainer .serviceContent .serviceAcordionContainer .serviceAcordion {
    width: 100%;
  }
  .serviceContainer .serviceContent .serviceAcordion {
    display: inline-block;
    font-size: 16px;
    vertical-align: top;
    width: 50%;
  }
  .serviceContainer .serviceContent .serviceAcordion .margin {
    margin-bottom: 17px;
  }
  .serviceContainer .serviceContent .serviceAcordion .acordionElement {
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
    border: solid 1px #e5e5e5;
    font-size: 0;
  }
  .serviceContainer .serviceContent .serviceAcordion .acordionElement .arrowDiv {
    display: inline-block;
    text-align: end;
    width: 30%;
  }
  .serviceContainer .serviceContent .serviceAcordion .acordionElement .arrowDiv .arrow {
    vertical-align: middle;
    display: inline-block;
  }
  .serviceContainer .serviceContent .serviceAcordion .acordionElement .iconDiv {
    display: inline-block;
    width: 70%;
  }
  .serviceContainer .serviceContent .serviceAcordion .acordionElement .iconDiv h3 {
    display: inline-block;
    font-size: 0.875rem;
    vertical-align: middle;
    font-weight: 600;
  }
  .serviceContainer .serviceContent .serviceAcordion .acordionElement .iconDiv .icon {
    vertical-align: middle;
    display: inline-block;
    padding-right: 15px;
  }
  .serviceContainer .serviceContent .serviceAcordion .acordionOpen {
    width: 100%;
    border: solid 1px #e5e5e5;
    border-top: none;
    margin-top: 0px;
    box-sizing: border-box;
  }
  .serviceContainer .serviceContent .serviceAcordion .acordionOpen p {
    display: inline-block;
    width: 90%;
    margin-top: 0px;
    padding: 15px;
    color: #999999;
    font-size: 0.938rem;
    font-style: italic;
    height: 100%;
  }
  .serviceContainer .serviceContent .serviceAcordion .acordionOpen .scroller {
    display: inline-block;
    width: 5px;
    height: 90px;
    background-color: #f5f5f5;
    border-left: 10px transparent;
    transform: translateY(0px);
    border-radius: 50px;
  }
  .serviceContainer .serviceContent .serviceAcordion .acordionOpen .scroller .scroll {
    width: 100%;
    height: 60%;
    background-color: #95e1d3;
    border-radius: 50px;
  }
  .messageContainer .messageContent {
    width: 90%;
  }
  .teamContainer .teamContent {
    width: 90%;
  }
  .storyContainer .storyContent {
    width: 90%;
  }
  .storyContainer .storyContent img {
    width: 100px;
  }
  .sponsorContainer .sponsorContent {
    width: 90%;
  }
  .sectionStart .sectionContent {
    width: 90%;
  }
  .peopleContainer .peopleContent {
    width: 90%;
    text-align: center;
  }
  .peopleContainer .peopleContent .peopleHolder {
    display: inline-block;
    width: 50%;
    margin-bottom: 80px;
  }
  .peopleContainer .peopleContent .peopleHolder .peoplePicture {
    display: block;
    width: 100%;
    padding-right: 0px;
  }
  .peopleContainer .peopleContent .peopleHolder h4 {
    margin-top: 10px;
  }
  .peopleContainer .peopleContent .padding {
    margin-left: 0;
  }
  .latestContainer .latestContent {
    width: 90%;
  }
  .latestContainer .latestContent .storyHolder h1 {
    font-size: 0.72rem;
  }
  .openMapContainer .openMapContent {
    width: 90%;
  }
  .footerContainer {
    width: 100%;
  }
  .footerContainer .footerContent {
    display: block;
    margin: auto;
    width: 90%;
    font-size: 0;
  }
  .footerContainer .footerContent .mogo {
    margin-bottom: 30px;
    width: 100%;
    display: block;
  }
  .footerContainer .footerContent .mogo .logo {
    font-size: 2.875rem;
    color: #cccccc;
    font-weight: bold;
    margin-bottom: 30px;
  }
  .footerContainer .footerContent .mogo .text {
    font-size: 0.938rem;
    line-height: 24px;
    color: #999999;
    font-family: "Roboto", sans-serif;
    margin-bottom: 15px;
  }
  .footerContainer .footerContent .mogo .follow {
    color: #333333;
    font-size: 0.875rem;
  }
  .footerContainer .footerContent .mogo .bold {
    color: #333333;
    font-size: 1.125rem;
    font-weight: bold;
  }
  .footerContainer .footerContent .mogo hr {
    height: 1px;
    background-color: #e5e5e5;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .footerContainer .footerContent .mogo .socials {
    margin-bottom: 30px;
  }
  .footerContainer .footerContent .mogo .socials p {
    display: inline-block;
    font-size: 0.938rem;
    color: #999999;
    vertical-align: middle;
    font-family: "Roboto", sans-serif;
    font-style: italic;
  }
  .footerContainer .footerContent .mogo .socials img {
    display: inline-block;
    padding-left: 7px;
    vertical-align: middle;
  }
  .footerContainer .footerContent .mogo .subscribe {
    font-size: 0;
  }
  .footerContainer .footerContent .mogo .subscribe input {
    width: 230px;
    height: 40px;
    background-color: #ffffff;
    border: 1px solid #e7e7e7;
    font-weight: 300;
    font-style: italic;
    font-family: "Roboto", sans-serif;
    padding-left: 10px;
    display: inline-block;
    box-sizing: border-box;
    border-right: none;
  }
  .footerContainer .footerContent .mogo .subscribe input::-moz-placeholder {
    color: #cccccc;
    font-size: 15px;
    line-height: 24px;
    font-family: "Roboto", sans-serif;
  }
  .footerContainer .footerContent .mogo .subscribe input::placeholder {
    color: #cccccc;
    font-size: 15px;
    line-height: 24px;
    font-family: "Roboto", sans-serif;
  }
  .footerContainer .footerContent .mogo .subscribe button {
    display: inline-block;
    width: 150px;
    height: 40px;
    background-color: #95e1d3;
    border: none;
    font-weight: bold;
    font-size: 0.875rem;
    color: white;
    vertical-align: top;
  }
  .footerContainer .footerContent .blogs {
    display: block;
    width: 100%;
    margin-left: 0px;
    margin-bottom: 30px;
  }
  .footerContainer .footerContent .blogs h1 {
    font-size: 14px;
    text-transform: uppercase;
    color: #333333;
    font-weight: bold;
    font-family: "Montserrat";
    margin-bottom: 30px;
  }
  .footerContainer .footerContent .blogs .blog .img {
    display: inline-block;
    width: 20%;
  }
  .footerContainer .footerContent .blogs .blog div {
    display: inline-block;
    vertical-align: middle;
    width: 80%;
    margin-bottom: 16px;
  }
  .footerContainer .footerContent .blogs .blog div p {
    font-size: 14px;
    -webkit-margin-before: 0.67em;
            margin-block-start: 0.67em;
    -webkit-margin-after: 0.67em;
            margin-block-end: 0.67em;
  }
  .footerContainer .footerContent .blogs .blog div h1 {
    -webkit-margin-before: 0em;
            margin-block-start: 0em;
    -webkit-margin-after: 0em;
            margin-block-end: 0em;
  }
  .footerContainer .footerContent .instagram {
    display: block;
    width: 100%;
    margin-left: 0px;
  }
  .footerContainer .footerContent .instagram h1 {
    font-size: 14px;
    text-transform: uppercase;
    color: #333333;
    font-weight: bold;
    font-family: "Montserrat";
    margin-bottom: 30px;
  }
  .footerContainer .footerContent .instagram .insta img {
    width: 10%;
  }
  .footerContainer .footerContent .instagram p {
    font-size: 13px;
    line-height: 24px;
    color: #333333;
    font-weight: 300;
    font-style: italic;
    font-family: "Roboto";
    margin-top: 15px;
  }
  .copyrightContainer .copyrightContent {
    width: 90%;
  }
}
@media only screen and (max-width: 768px) {
  .headerContainer .headerContent {
    width: 90%;
  }
  .headerContainer .headerContent .hamburger {
    display: inline-block;
  }
  .headerContainer .headerContent .navigationButtons {
    display: none;
  }
  .headerContainer .headerContent .headerText h2 {
    padding-top: 100px;
  }
  .headerContainer .headerContent .headerWrapper {
    font-size: 0px;
    margin-top: 40px;
  }
  .headerContainer .headerContent .headerWrapper div {
    display: block;
    font-size: 10px;
    width: 100%;
    height: 3px;
    margin-left: 0;
    position: relative;
    box-sizing: border-box;
    margin-bottom: 50px;
  }
  .headerContainer .headerContent .headerWrapper div span {
    height: 100%;
    display: block;
    width: 20%;
    background-color: #f38181;
    border: none;
    position: absolute;
  }
  .headerContainer .headerContent .headerWrapper div .line {
    height: 100%;
    display: block;
    width: 100%;
    background-color: white;
    border: none;
    position: absolute;
    opacity: 0.5;
  }
  .headerContainer .headerContent .headerWrapper div h3 {
    margin-top: 10px;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    opacity: 0.7;
  }
  .headerContainer .headerContent .headerWrapper div h4 {
    margin-left: 5px;
    display: inline-block;
    font-size: 1.125rem;
    color: white;
    opacity: 0.7;
  }
  .headerContainer .headerContent .headerWrapper div:first-child {
    opacity: 1;
    margin-left: 0;
    background-color: white;
  }
  .storyContainer .storyContent {
    width: 90%;
  }
  .storyContainer .storyContent .storyImg {
    font-size: 0;
  }
  .storyContainer .storyContent .storyImg .container {
    width: 80%;
    display: block;
    margin: auto;
    margin-top: 10px;
  }
  .employers .employersContent {
    width: 90%;
  }
  .amazingContainer .amazingContent {
    width: 90%;
  }
  .amazingContainer .amazingContent .services {
    margin-top: 100px;
    text-align: left;
    font-size: 0px;
  }
  .amazingContainer .amazingContent .services hr {
    display: none;
  }
  .amazingContainer .amazingContent .services .serviceContent {
    display: inline-block;
    width: 100%;
    padding-left: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: solid 1px #d0c8c8;
  }
  .amazingContainer .amazingContent .services .serviceContent img {
    display: inline-block;
  }
  .amazingContainer .amazingContent .services .serviceContent .img {
    width: 20%;
    vertical-align: top;
  }
  .amazingContainer .amazingContent .services .serviceContent div {
    display: inline-block;
    width: 80%;
    padding-left: 0px;
  }
  .amazingContainer .amazingContent .services .serviceContent div p {
    color: #999999;
    font-size: 0.938rem;
    font-family: "Roboto", sans-serif;
    -webkit-margin-before: 0em;
            margin-block-start: 0em;
    -webkit-margin-after: 0em;
            margin-block-end: 0em;
  }
  .amazingContainer .amazingContent .services .serviceContent div h4 {
    color: #333333;
    font-size: 0.875rem;
    padding-bottom: 15px;
  }
  .amazingContainer .amazingContent .services .serviceContent:last-child {
    border: none;
  }
  .responsiveContainer {
    height: 780px;
  }
  .responsiveContainer .responsiveContent {
    width: 90%;
  }
  .responsiveContainer .responsiveContent .phone {
    width: 200px;
    position: relative;
    left: 140px;
    top: -200px;
  }
  .responsiveContainer .responsiveContent .tablet {
    width: 400px;
    height: 515px;
  }
  .serviceContainer .serviceContent {
    width: 90%;
  }
  .serviceContainer .serviceContent .serviceAcordion .acordionOpen {
    width: 100%;
    border: solid 1px #e5e5e5;
    border-top: none;
    margin-top: 0px;
    box-sizing: border-box;
    position: relative;
  }
  .serviceContainer .serviceContent .serviceAcordion .acordionOpen p {
    display: inline-block;
    width: 87%;
    margin-top: 0px;
    padding: 15px;
    color: #999999;
    font-size: 0.938rem;
    font-style: italic;
    height: 100%;
  }
  .serviceContainer .serviceContent .serviceAcordion .acordionOpen .scroller {
    display: inline-block;
    width: 5px;
    height: 120px;
    background-color: #f5f5f5;
    border-left: 10px transparent;
    transform: translateY(10px);
    border-radius: 50px;
    position: absolute;
  }
  .serviceContainer .serviceContent .serviceAcordion .acordionOpen .scroller .scroll {
    width: 100%;
    height: 60%;
    background-color: #95e1d3;
    border-radius: 50px;
  }
  .messageContainer .messageContent {
    width: 90%;
  }
  .messageContainer .messageContent .message {
    display: inline-block;
    width: 50%;
    text-align: left;
    vertical-align: middle;
  }
  .messageContainer .messageContent .message p {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    line-height: 20px;
  }
  .messageContainer .messageContent1 .m2 {
    transform: translateY(-px);
  }
  .messageContainer .messageContent1 .m2 img {
    width: 80px;
  }
  .teamContainer .teamContent {
    width: 90%;
  }
  .teamContainer .teamContent .teamDescription {
    font-size: 20px;
  }
  .teamContainer .teamContent .teamDescription h3 {
    margin-top: 20px;
    font-size: 0.57rem;
    font-weight: bold;
  }
  .teamContainer .teamContent .teamDescription p {
    margin-top: 15px;
    font-size: 0.7rem;
    font-style: italic;
    margin-bottom: 50px;
  }
  .teamContainer .teamContent .storyImg {
    font-size: 0;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .teamContainer .teamContent .storyImg .teamHolder {
    width: 30%;
    display: inline-block;
    margin-left: 5%;
    margin-top: 50px;
  }
  .teamContainer .teamContent .storyImg .teamHolder:first-child {
    margin-left: 0px;
  }
  .teamContainer .teamContent .storyImg .container {
    position: relative;
    width: 100%;
    display: inline-block;
    cursor: pointer;
  }
  .teamContainer .teamContent .storyImg .img {
    transition: 0.5s ease;
    width: 100%;
  }
  .teamContainer .teamContent .storyImg .img:first-child {
    margin-left: 0%;
  }
  .teamContainer .teamContent .storyImg .container:hover .img {
    box-shadow: 1px 1px #95e1d3, 2px 2px #95e1d3, 3px 3px #95e1d3, 4px 4px #95e1d3, 5px 5px #95e1d3, 6px 6px #95e1d3;
    transform: translateX(-3px);
    transition: 0.5s ease;
    cursor: pointer;
  }
  .teamContainer .teamContent .storyImg .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background: rgb(251, 227, 137);
    background: linear-gradient(0deg, rgba(251, 227, 137, 0.7) 0%, rgba(243, 129, 129, 0.7) 100%);
  }
  .teamContainer .teamContent .storyImg .container:hover .overlay {
    opacity: 1;
    transform: translateX(-3px);
  }
  .teamContainer .teamContent .storyImg .text {
    color: white;
    font-size: 1.125rem;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 0;
    width: 100%;
  }
  .teamContainer .teamContent .storyImg .text svg {
    width: 25px;
    fill: #f38181;
    stroke: #f38181;
    padding: 4px;
    background-color: #fbe389;
    transition: all 0.5s ease;
  }
  .teamContainer .teamContent .storyImg .text svg:hover {
    fill: white;
    stroke: white;
    background-color: #f38181;
  }
  .teamContainer .teamContent .storyImg .text svg:last-child {
    width: 15px;
    padding: 9px;
  }
  .sponsorContainer .sponsorContent {
    width: 90%;
  }
  .sectionStart .sectionContent {
    width: 90%;
  }
  .peopleContainer .peopleContent {
    width: 90%;
  }
  .peopleContainer .peopleContent .padding {
    margin-left: 0;
  }
  .peopleContainer .peopleContent .peopleHolder {
    display: inline-block;
    width: 100%;
  }
  .latestContainer .latestContent {
    width: 90%;
  }
  .latestContainer .latestContent .storyHolder {
    width: 100%;
    display: block;
    margin: auto;
    padding-left: 0px;
    padding-bottom: 30px;
  }
  .latestContainer .latestContent .storyHolder h1 {
    font-size: 0.875rem;
  }
  .openMapContainer .openMapContent {
    width: 90%;
  }
  .footerContainer .footerContent {
    width: 90%;
  }
  .footerContainer .footerContent .blogs {
    display: block;
    width: 100%;
    margin-left: 0px;
    margin-bottom: 30px;
  }
  .footerContainer .footerContent .blogs h1 {
    font-size: 14px;
    text-transform: uppercase;
    color: #333333;
    font-weight: bold;
    font-family: "Montserrat";
    margin-bottom: 30px;
  }
  .footerContainer .footerContent .blogs .blog .img {
    display: inline-block;
    width: 30%;
  }
  .footerContainer .footerContent .blogs .blog div {
    display: inline-block;
    vertical-align: middle;
    width: 70%;
    margin-bottom: 16px;
  }
  .footerContainer .footerContent .blogs .blog div p {
    font-size: 14px;
    -webkit-margin-before: 0.67em;
            margin-block-start: 0.67em;
    -webkit-margin-after: 0.67em;
            margin-block-end: 0.67em;
  }
  .footerContainer .footerContent .blogs .blog div h1 {
    -webkit-margin-before: 0em;
            margin-block-start: 0em;
    -webkit-margin-after: 0em;
            margin-block-end: 0em;
  }
  .footerContainer .footerContent .instagram {
    display: block;
    width: 100%;
    margin-left: 0px;
  }
  .footerContainer .footerContent .instagram h1 {
    font-size: 14px;
    text-transform: uppercase;
    color: #333333;
    font-weight: bold;
    font-family: "Montserrat";
    margin-bottom: 30px;
  }
  .footerContainer .footerContent .instagram .insta img {
    width: 20%;
  }
  .footerContainer .footerContent .instagram p {
    font-size: 13px;
    line-height: 24px;
    color: #333333;
    font-weight: 300;
    font-style: italic;
    font-family: "Roboto";
    margin-top: 15px;
  }
  .copyrightContainer .copyrightContent {
    width: 90%;
  }
}
@media only screen and (max-width: 480px) {
  .headerContainer .headerContent {
    width: 310px;
  }
  .headerContainer .headerContent .headerText {
    text-align: center;
  }
  .headerContainer .headerContent .headerText h2 {
    font-size: 2rem;
  }
  .headerContainer .headerContent .headerText h1 {
    font-size: 3.3rem;
  }
  .headerContainer .headerContent .headerText hr {
    width: 80px;
    height: 3px;
    background-color: white;
    border: none;
    margin-top: 50px;
  }
  .headerContainer .headerContent .headerWrapper {
    font-size: 0px;
    margin-top: 90px;
  }
  .headerContainer .headerContent .headerWrapper div {
    display: block;
    font-size: 10px;
    width: 100%;
    height: 3px;
    margin-left: 0;
    position: relative;
    box-sizing: border-box;
    margin-bottom: 50px;
  }
  .headerContainer .headerContent .headerWrapper div span {
    height: 100%;
    display: block;
    width: 20%;
    background-color: #f38181;
    border: none;
    position: absolute;
  }
  .headerContainer .headerContent .headerWrapper div .line {
    height: 100%;
    display: block;
    width: 100%;
    background-color: white;
    border: none;
    position: absolute;
    opacity: 0.5;
  }
  .headerContainer .headerContent .headerWrapper div h3 {
    margin-top: 10px;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    opacity: 0.7;
  }
  .headerContainer .headerContent .headerWrapper div h4 {
    margin-left: 5px;
    display: inline-block;
    font-size: 1.125rem;
    color: white;
    opacity: 0.7;
  }
  .storyContainer .storyContent {
    width: 310px;
  }
  .storyContainer .storyContent h2 {
    margin-top: 40px;
  }
  .employers .employersContent {
    width: 310px;
  }
  .amazingContainer .amazingContent {
    width: 310px;
  }
  .amazingContainer .amazingContent h2 {
    margin-top: 40px;
  }
  .amazingContainer .amazingContent .services {
    margin-top: 40px;
  }
  .responsiveContainer {
    height: 520px;
  }
  .responsiveContainer .responsiveContent {
    width: 90%;
  }
  .responsiveContainer .responsiveContent .phone {
    width: 150px;
    position: relative;
    left: 140px;
    top: -150px;
    transform: translate(-50px, 0px);
    width: 140px;
  }
  .responsiveContainer .responsiveContent .tablet {
    width: 200px;
    height: 255px;
  }
  .serviceContainer .serviceContent {
    padding-top: 20px;
    width: 310px;
  }
  .serviceContainer .serviceContent h2 {
    margin-top: 0px;
  }
  .serviceContainer .serviceContent .serviceAcordion {
    display: inline-block;
    font-size: 16px;
    vertical-align: top;
    width: 50%;
  }
  .serviceContainer .serviceContent .serviceAcordion .margin {
    margin-bottom: 17px;
  }
  .serviceContainer .serviceContent .serviceAcordion .acordionElement {
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
    border: solid 1px #e5e5e5;
    font-size: 0;
  }
  .serviceContainer .serviceContent .serviceAcordion .acordionElement .arrowDiv {
    display: inline-block;
    text-align: end;
    width: 30%;
  }
  .serviceContainer .serviceContent .serviceAcordion .acordionElement .arrowDiv .arrow {
    vertical-align: middle;
    display: inline-block;
  }
  .serviceContainer .serviceContent .serviceAcordion .acordionElement .iconDiv {
    display: inline-block;
    width: 70%;
  }
  .serviceContainer .serviceContent .serviceAcordion .acordionElement .iconDiv h3 {
    display: inline-block;
    font-size: 0.875rem;
    vertical-align: middle;
    font-weight: 600;
  }
  .serviceContainer .serviceContent .serviceAcordion .acordionElement .iconDiv .icon {
    vertical-align: middle;
    display: inline-block;
    padding-right: 15px;
  }
  .serviceContainer .serviceContent .serviceAcordion .acordionOpen {
    width: 100%;
    border: solid 1px #e5e5e5;
    border-top: none;
    margin-top: 0px;
    box-sizing: border-box;
  }
  .serviceContainer .serviceContent .serviceAcordion .acordionOpen p {
    display: inline-block;
    width: 80%;
    margin-top: 0px;
    padding: 15px;
    color: #999999;
    font-size: 0.938rem;
    font-style: italic;
    height: 100%;
  }
  .serviceContainer .serviceContent .serviceAcordion .acordionOpen .scroller {
    display: inline-block;
    width: 5px;
    height: 240px;
    background-color: #f5f5f5;
    border-left: 10px transparent;
    transform: translateY(20px);
    border-radius: 50px;
  }
  .serviceContainer .serviceContent .serviceAcordion .acordionOpen .scroller .scroll {
    width: 100%;
    height: 60%;
    background-color: #95e1d3;
    border-radius: 50px;
  }
  .messageContainer .messageContent {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 310px;
  }
  .messageContainer .messageContent .message {
    display: inline-block;
    width: 65%;
    text-align: left;
    vertical-align: middle;
  }
  .messageContainer .messageContent .message p {
    font-family: "Roboto", sans-serif;
    color: #999999;
    font-style: italic;
    font-size: 0.8rem;
    line-height: 20px;
  }
  .messageContainer .messageContent1 .m2 {
    transform: translateY(5px);
  }
  .messageContainer .messageContent1 .m2 img {
    width: 60px;
  }
  .teamContainer .teamContent {
    padding-top: 0px;
    width: 310px;
  }
  .teamContainer .teamContent .storyImg {
    font-size: 0;
  }
  .teamContainer .teamContent .storyImg .teamHolder {
    width: 100%;
    display: block;
    margin: auto;
  }
  .teamContainer .teamContent .storyImg .text {
    color: white;
    font-size: 1.125rem;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 0;
    width: 100%;
  }
  .teamContainer .teamContent .storyImg .text svg {
    width: 45px;
    fill: #f38181;
    stroke: #f38181;
    padding: 4px;
    background-color: #fbe389;
    transition: all 0.5s ease;
  }
  .teamContainer .teamContent .storyImg .text svg:hover {
    fill: white;
    stroke: white;
    background-color: #f38181;
  }
  .teamContainer .teamContent .storyImg .text svg:last-child {
    width: 35px;
    padding: 9px;
  }
  .teamContainer .teamContent .teamDescription {
    font-size: 20px;
  }
  .teamContainer .teamContent .teamDescription h3 {
    margin-top: 20px;
    font-size: 0.875rem;
    font-weight: bold;
  }
  .teamContainer .teamContent .teamDescription p {
    margin-top: 15px;
    font-size: 0.938rem;
    font-style: italic;
    margin-bottom: 50px;
  }
  .sponsorContainer .sponsorContent {
    width: 310px;
  }
  .sectionStart {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .sectionStart .sectionContent {
    width: 310px;
  }
  .peopleContainer .peopleContent {
    width: 310px;
  }
  .peopleContainer .peopleContent .peopleHolder {
    text-align: center;
  }
  .peopleContainer .peopleContent .peopleHolder .peoplePicture {
    display: block;
    width: 100%;
  }
  .peopleContainer .peopleContent .peopleHolder .peopleDescription {
    display: block;
    width: 300px;
  }
  .peopleContainer .peopleContent .peopleHolder .peopleDescription h4 {
    margin-top: 20px;
  }
  .latestContainer .latestContent {
    width: 310px;
    margin-bottom: 0px;
  }
  .openMapContainer {
    margin-bottom: 40px;
  }
  .openMapContainer .openMapContent {
    width: 310px;
  }
  .footerContainer .footerContent {
    width: 310px;
  }
  .footerContainer .footerContent .mogo {
    margin-bottom: 30px;
    width: 100%;
    display: block;
  }
  .footerContainer .footerContent .mogo .logo {
    font-size: 2.875rem;
    color: #cccccc;
    font-weight: bold;
    margin-bottom: 30px;
  }
  .footerContainer .footerContent .mogo .text {
    font-size: 0.938rem;
    line-height: 24px;
    color: #999999;
    font-family: "Roboto", sans-serif;
    margin-bottom: 15px;
  }
  .footerContainer .footerContent .mogo .follow {
    color: #333333;
    font-size: 0.875rem;
  }
  .footerContainer .footerContent .mogo .bold {
    color: #333333;
    font-size: 1.125rem;
    font-weight: bold;
  }
  .footerContainer .footerContent .mogo hr {
    height: 1px;
    background-color: #e5e5e5;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .footerContainer .footerContent .mogo .socials {
    margin-bottom: 30px;
  }
  .footerContainer .footerContent .mogo .socials p {
    display: inline-block;
    font-size: 0.938rem;
    color: #999999;
    vertical-align: middle;
    font-family: "Roboto", sans-serif;
    font-style: italic;
  }
  .footerContainer .footerContent .mogo .socials img {
    display: inline-block;
    padding-left: 7px;
    vertical-align: middle;
  }
  .footerContainer .footerContent .mogo .subscribe {
    font-size: 0;
  }
  .footerContainer .footerContent .mogo .subscribe input {
    width: 170px;
    height: 40px;
    background-color: #ffffff;
    border: 1px solid #e7e7e7;
    font-weight: 300;
    font-style: italic;
    font-family: "Roboto", sans-serif;
    padding-left: 10px;
    display: inline-block;
    box-sizing: border-box;
    border-right: none;
  }
  .footerContainer .footerContent .mogo .subscribe input::-moz-placeholder {
    color: #cccccc;
    font-size: 15px;
    line-height: 24px;
    font-family: "Roboto", sans-serif;
  }
  .footerContainer .footerContent .mogo .subscribe input::placeholder {
    color: #cccccc;
    font-size: 15px;
    line-height: 24px;
    font-family: "Roboto", sans-serif;
  }
  .footerContainer .footerContent .mogo .subscribe button {
    display: inline-block;
    width: 130px;
    height: 40px;
    background-color: #95e1d3;
    border: none;
    font-weight: bold;
    font-size: 0.875rem;
    color: white;
    vertical-align: top;
  }
  .footerContainer .footerContent .blogs {
    display: block;
    width: 100%;
    margin-left: 0px;
    margin-bottom: 30px;
  }
  .footerContainer .footerContent .blogs h1 {
    font-size: 14px;
    text-transform: uppercase;
    color: #333333;
    font-weight: bold;
    font-family: "Montserrat";
    margin-bottom: 30px;
  }
  .footerContainer .footerContent .blogs .blog .img {
    display: inline-block;
    width: 42%;
  }
  .footerContainer .footerContent .blogs .blog div {
    display: inline-block;
    vertical-align: middle;
    width: 58%;
    margin-bottom: 16px;
  }
  .footerContainer .footerContent .blogs .blog div p {
    font-size: 14px;
    -webkit-margin-before: 0.67em;
            margin-block-start: 0.67em;
    -webkit-margin-after: 0.67em;
            margin-block-end: 0.67em;
  }
  .footerContainer .footerContent .blogs .blog div h1 {
    -webkit-margin-before: 0em;
            margin-block-start: 0em;
    -webkit-margin-after: 0em;
            margin-block-end: 0em;
  }
  .copyrightContainer .copyrightContent {
    width: 310px;
  }
}/*# sourceMappingURL=style.css.map */