/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Montserrat', sans-serif;
	height: 100%;
	margin: 0;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.headerContainer{
  /* The image used */
  background-image: url("img/header_eagle.jpg");

  /* Full height */
  height: 100vh; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

	.headerContent{
		display: block;
		margin: auto;
		width: 1200px;
		font-size: 0;
		padding-top: 20px;
		p{
			display: inline-block;
			font-size: 1rem;
			width: 20%;
			font-size: 1.875rem;
			font-weight: bold;
			color: white;
		}
		.hamburger{
			display: none;
			text-align: end;
			width: 80%;
			svg{
				width: 2rem;
				padding-top: 4px;
			}
		}

		.navigationButtons{
			font-size: 12px;
			display: inline-block;
			width: 80%;
			text-align: end;
			a{
				font-size: 0.875rem;
				color: white;
				text-decoration: none;
				margin-left: 20px;
				.test{
					fill: white;
					vertical-align: middle;
					transform: translateY(-1px);
				}
				.test:hover{
					fill: #fce38a;
					stroke: #fce38a;

				}
			}
			a:hover{
				color: #fce38a;
				padding-bottom: 10px;
				border-bottom: solid 3px #fce38a;
				transition: all 0.2s ease;
			}
			a:hover .test{
				fill: #fce38a;
				stroke: #fce38a;
				transition: all 0.2s ease;

			}
		}
		.headerText{
			text-align: center;
			h2{
				padding-top: 150px;
				padding-bottom: 50px;
				font-size: 3rem;
				font-family: 'Kaushan Script', cursive;
				color: white;
			}
			h1{
				font-size: 5rem;
				color:white;
				font-weight: bold;
			}
			hr{
				width: 80px;
				height: 3px;
				background-color: white;
				border: none;
				margin-top: 50px;
			}
			button{
				background-color: transparent;
				font-size: 0.875rem;
				color: white;
				padding-left: 30px;
				padding-right: 30px;
				padding-top: 10px;
				padding-bottom: 10px;
				border: solid 3px white;
				font-weight: bold;
				margin-top: 40px;
			}
		}
		.headerWrapper{
			font-size: 0px;
			margin-top: 230px;

			div{
				display: inline-block;
				font-size: 10px;
				width: 22%;
				height: 3px;
				margin-left: 4%;
				position: relative;
				box-sizing: border-box;
				span{
					height: 100%;
					display: block;
					width: 20%;
					background-color: #f38181;
					border: none;
					position: absolute;
				}
				.line{
					height: 100%;
					display: block;
					width: 100%;
					background-color: white;
					border: none;
					position: absolute;	
					opacity: 0.5;

				}
				h3{
					margin-top: 20px;
					display: inline-block;
					font-size: 1.5rem;
					font-weight: bold;
					color: white;
					opacity: 0.7;

				}
				h4{ 
					margin-left: 5px;
					display: inline-block;
					font-size: 1.125rem;
					color: white;
					opacity: 0.7;

				}
			}
			div:first-child{
				opacity: 1;
				margin-left: 0;
				background-color: white;
			}
		}
		div:first-child{
			margin-left: 0px;
		}
	}
}
// section 2
.storyContainer{
	width: 100%;
	.storyContent{
	display: block;
	margin: auto;
	width: 1200px;
	text-align: center;
	margin-bottom: 100px;

	}
	h2{
		margin-top: 100px;
		font-family: 'Kaushan Script', cursive;
		font-size: 1.5rem;
		margin-bottom: 30px;
	}
	h1{
		font-weight: bold;
		font-size: 1.875rem;
	}
	hr{
		width: 80px;
		height: 3px;
		border: none;
		margin-top: 50px;
		background-color: #f38181;
	}
	p{
		margin-top: 50px;
		font-size: 0.938rem;
		color: #999999;
		font-family: 'Roboto', sans-serif;
		line-height: 20px;
	}
	.storyImg{
		font-size: 0;

		.container {
			position: relative;
			width: 30%;
			display: inline-block;
			margin-left: 5%;
			cursor: pointer;
		  }
		  .container:first-child{
			margin-left: 0px;

		  }
		  
		margin-top: 40px;
		margin-bottom: 40px;
		.img{
			margin-left: 5%;
			transition: .5s ease;
			width: 100%;
		}
		.img:first-child{
			margin-left: 0%;
		}
		.container:hover .img{
			box-shadow:
			1px 1px #95e1d3,
			2px 2px #95e1d3,
			3px 3px #95e1d3,
			4px 4px #95e1d3,
			5px 5px #95e1d3,
			6px 6px #95e1d3;
			-webkit-transform: translateX(-3px);
			transform: translateX(-3px);
			transition: .5s ease;
			cursor: pointer;
		}
		.overlay {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			height: 100%;
			width: 100%;
			opacity: 0;
			transition: .5s ease;
			background: rgb(251,227,137);
			background: linear-gradient(0deg, rgba(251,227,137,0.7) 0%, rgba(243,129,129,0.7) 100%);
		  }
		  .container:hover .overlay {
			opacity: 1;
			-webkit-transform: translateX(-3px);
			transform: translateX(-3px);
		  }
		  
		  .text {
			color: white;
			font-size: 1.125rem;
			font-weight: bold;
			position: absolute;
			top: 50%;
			left: 50%;
			-webkit-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			text-align: center;
		  }
	}
}

.employers{
	width: 100%;
	background-color: #95e1d3;
	text-align: center;
	.employersContent{
		display: block;
		margin: auto;	
		width: 1200px;
		height: 100%;
		font-size: 0;
		div{
			display: inline-block;
			box-sizing: border-box;
			width: 20%;
			height: 270px;
			
			border-right: solid 1px white;
			vertical-align: middle;
			h1{
				color: white;
				font-size: 4.5rem;
				font-weight: bold;
				padding-top: 80px;
			}
			h2{
				color: white;
				font-size: 0.875rem;
				font-family: 'Montserrat', sans-serif;
				margin-block-start: 0em;
				margin-block-end: 0em;
				margin-top: 30px;
			}
		}
		div:first-child{
			border-left: solid 1px white;
		}
	}
}

//AMAZING SECTION 3
.amazingContainer{
	width: 100%;
	.amazingContent{
	display: block;
	margin: auto;
	width: 1200px;
	text-align: center;

	}
	h2{
		margin-top: 100px;
		font-family: 'Kaushan Script', cursive;
		font-size: 1.5rem;
		margin-bottom: 30px;
	}
	h1{
		font-weight: bold;
		font-size: 1.875rem;
	}
	hr{
		width: 80px;
		height: 3px;
		border: none;
		margin-top: 50px;
		background-color: #f38181;
	}
	p{
		margin-top: 0px;
		font-size: 0.938rem;
		color: #999999;
		font-family: 'Roboto', sans-serif;
		line-height: 20px;
	}
	.services{
		margin-top: 100px;
		text-align: left;
		font-size: 0px;
		hr{
			width: 100%;
			height: 1px;
			border: none;
			margin-top: 40px;
			margin-bottom: 40px;
			background-color: #d0c8c8;
		}
		.serviceContent{
			display: inline-block;
			width: 30%;
			padding-left: 5%;
			img{
				display: inline-block;
			}
			.img{
				width: 15%;
				vertical-align: top;

			}
		div{
			display: inline-block;
			width: 85%;
			p{
				color: #999999;
				font-size: 0.938rem;
				font-family: 'Roboto', sans-serif;
				margin-block-start: 0em;
				margin-block-end: 0em;
			}
			h4{
				color: #333333;
				font-size: 0.875rem;
				padding-bottom: 15px;
				font-weight: bold;
			}


		}
		}
	}
	.serviceContent:first-child, .serviceContent:nth-child(5){
		padding-left: 0px;
	}
}
// 4 SECTION RESPONSIVE
.responsiveContainer{
	margin-top: 60px;
	background-image: url("img/responsive.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 905px;

	.responsiveContent{
		display: block;
		margin: auto;
		width: 1200px;
		text-align: center;
		padding-top: 100px;

	
		}
		h2{
			font-family: 'Kaushan Script', cursive;
			font-size: 1.5rem;
			margin-bottom: 30px;
		}
		h1{
			font-weight: bold;
			font-size: 1.875rem;
		}
		hr{
			width: 80px;
			height: 3px;
			border: none;
			margin-top: 50px;
			background-color: #f38181;
		}
		p{
			margin-top: 0px;
			font-size: 0.938rem;
			color: #999999;
			font-family: 'Roboto', sans-serif;
			line-height: 20px;
		}
		.phone{
			width: 200px;
			position: relative;
			left: 250px;
			top: -200px;
		}
		.tablet{
			display: block;
			margin: auto;
			position: relative;
			top: 20px;
			width: 500px;
			overflow: hidden;
			height: 640px;
			img{
				width: 100%;
			}		

		}

}

//SERVICE 
.serviceContainer{
	margin-top: 60px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	.serviceContent{
		display: block;
		margin: auto;
		width: 1200px;
		text-align: center;
		padding-top: 100px;

	
		}
		h2{
			font-family: 'Kaushan Script', cursive;
			font-size: 1.5rem;
			margin-bottom: 30px;
		}
		h1{
			font-weight: bold;
			font-size: 1.875rem;
		}
		hr{
			width: 80px;
			height: 3px;
			border: none;
			margin-top: 50px;
			background-color: #f38181;
		}
		p{
			font-size: 0.938rem;
			color: #999999;
			font-family: 'Roboto', sans-serif;
			line-height: 20px;
			margin-top: 50px;
		}
		.serviceAcordionContainer{
			width: 100%;
			margin-top: 100px;
			margin-bottom: 100px;
			text-align: left;
			font-size: 0;
			.serviceImg{
				display: inline-block;
				max-width: 45%;
				padding-right: 5%;
				height: 100%;
				img{
					  object-fit: cover;
				}
			}
			.serviceAcordion{
				display: inline-block;
				font-size: 16px;
				vertical-align: top;
				width: 50%;

				.margin{
					margin-bottom: 17px;
				}
				.acordionElement{
					box-sizing: border-box;
					width: 100%;
					padding: 15px;
					border: solid 1px #e5e5e5;
					font-size: 0;

					.arrowDiv{
						display: inline-block;
						text-align: end;
						width: 50%;
						.arrow{
							vertical-align: middle;
							display: inline-block;
						}
					}
					.iconDiv{
						display: inline-block;
						width: 50%;
						h3{
							display: inline-block;
							font-size: 0.875rem;
							vertical-align: middle;
							font-weight: 600;

						}
						.icon{
							vertical-align: middle;
							display: inline-block;
							padding-right: 15px;
						}
					}
				}

			.acordionOpen{
				width: 100%;
				border: solid 1px #e5e5e5;
				border-top: none;
				margin-top: 0px;
				box-sizing: border-box;
				position: relative;


				p{
					display: inline-block;
					width: 90%;
					margin-top: 0px;
					padding: 15px;
					color: #999999;
					font-size: 0.938rem;
					font-style: italic;
					height: 100%;
				}
				.scroller{
					display: inline-block;
					width: 5px;
					height: 130px;
					background-color: #f5f5f5;
					border-left: 10px transparent;
					border-radius: 50px;
					position: absolute;
					top: 10px;
					.scroll{
						width: 100%;
						height: 60%;
						background-color: #95e1d3;
						border-radius: 50px;
					}
				}
			}

		}
		}
	}

	.messageContainer{
		width: 100%;
		background-color: #f8f8f8;
		.messageContent{
			width: 1200px;
			display: block;
			margin: auto;
			height: 100%;
			padding-top: 60px;
			padding-bottom: 60px;
			text-align: center;
			font-size: 0;
			img{
				vertical-align: middle;
				display: inline-block;
			}
			.messageContent1{
				display: inline-block;
				width: 25%;
				padding-right: 5%;
				font-size: 0;
				.m1{
					display: inline-block;
					width: 30%;
					text-align: left;
				}
				.m2{
					display: inline-block;
					width: 70%;
					text-align: right;
	
				}
			}
			.messageContent2{
				display: inline-block;
				width: 5%;
				text-align: right;
	
			}
			.message{
				display: inline-block;
				width: 65%;
				text-align: left;
				vertical-align: middle;
	
				p{
					font-family: 'Roboto', sans-serif;
					color: #999999;
					font-style: italic;
					font-size: 1.5rem;
					line-height: 35px;
				}
				div{
					padding-top: 20px;
					hr{
						display: inline-block;
						width: 40px;
						vertical-align: middle;
						border: none;
						background-color: #f38181;
						height: 3px;
	
					}
					p{
						display: inline-block;
						font-family: 'Kaushan Script', cursive;
						color: #333333;
						font-size: 1.5rem;
						padding-left: 10px;
					}
				}
			}
			.message:first-child{
				text-align: left;
			}
		}
	  }
	  .teamContainer{
		margin-top: 60px;
		.teamContent{
			display: block;
			margin: auto;
			width: 1200px;
			text-align: center;
			padding-top: 100px;
	
		
			}
			h2{
				font-family: 'Kaushan Script', cursive;
				font-size: 1.5rem;
				margin-bottom: 30px;
			}
			h1{
				font-weight: bold;
				font-size: 1.875rem;
			}
			hr{
				width: 80px;
				height: 3px;
				border: none;
				margin-top: 50px;
				background-color: #f38181;
			}
			p{
				font-size: 0.938rem;
				color: #999999;
				font-family: 'Roboto', sans-serif;
				line-height: 20px;
				margin-top: 50px;
			}
			.storyImg{
				font-size: 0;
				.teamHolder{
					width: 30%;
					display: inline-block;
					margin-left: 5%;
					margin-top: 50px;
				}
				.teamHolder:first-child{
					margin-left: 0px;
		
				  }
		
				.container {
					position: relative;
					width: 100%;
					display: inline-block;
					cursor: pointer;
				  }

				  
				margin-top: 40px;
				margin-bottom: 40px;
				.img{
					transition: .5s ease;
					width: 100%;
				}
				.img:first-child{
					margin-left: 0%;
				}
				.container:hover .img{
					box-shadow:
					1px 1px #95e1d3,
					2px 2px #95e1d3,
					3px 3px #95e1d3,
					4px 4px #95e1d3,
					5px 5px #95e1d3,
					6px 6px #95e1d3;
					-webkit-transform: translateX(-3px);
					transform: translateX(-3px);
					transition: .5s ease;
					cursor: pointer;
				}
				.overlay {
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					height: 100%;
					width: 100%;
					opacity: 0;
					transition: .5s ease;
					background: rgb(251,227,137);
					background: linear-gradient(0deg, rgba(251,227,137,0.7) 0%, rgba(243,129,129,0.7) 100%);
				  }
				  .container:hover .overlay {
					opacity: 1;
					-webkit-transform: translateX(-3px);
					transform: translateX(-3px);
				  }
				  
				  .text {
					color: white;
					font-size: 1.125rem;
					font-weight: bold;
					position: absolute;
					top: 50%;
					left: 50%;
					-webkit-transform: translate(-50%, -50%);
					-ms-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
					text-align: center;
					font-size: 0;
					width: 100%;

					svg{
						width: 45px;
						fill: #f38181;
						stroke: #f38181;
						padding: 4px;
						background-color: #fbe389;
						transition: all 0.5s ease;
					}
					svg:hover{
						fill: #ffff;
						stroke: #ffff;
						background-color: #f38181;

					}
					svg:last-child{
						width: 35px;
						padding: 9px;
					}

				  }
				  .teamDescription{
					font-size: 20px;
					h3{
						margin-top: 20px;
						font-size: 0.875rem;
						font-weight: bold;
					}
					p{
						margin-top: 15px;
						font-size: 0.938rem;
						font-style: italic;
						margin-bottom: 20px;
					}
				  }
				}
		}
		.sponsorContainer{
			width: 100%;
			background-color: #f8f8f8;
			.sponsorContent{
				width: 1200px;
				display: block;
				margin: auto;
				img{
					padding-top: 30px;
					padding-bottom: 30px;
					width: 100%;
				}
			}
		}

.sectionStart{
		width: 100%;
		text-align: center;
		margin-top: 40px;
		margin-bottom: 40px;
		.sectionContent{
			display: block;
			margin: auto;	
			width: 1200px;
			font-size: 0;
			h2{
				font-family: 'Kaushan Script', cursive;
				font-size: 1.5rem;
				margin-bottom: 30px;
			}
			h1{
				font-weight: bold;
				font-size: 1.875rem;
			}
			hr{
				width: 80px;
				height: 3px;
				border: none;
				margin-top: 50px;
				background-color: #f38181;
			}
			p{
				font-size: 0.938rem;
				color: #999999;
				font-family: 'Roboto', sans-serif;
				line-height: 20px;
				margin-top: 50px;
			}
}
}
.galery{
	width: 100%;
	font-size: 0;
	.galeryElement{
		width: 25%;
		display: inline-block;
		.container {
			position: relative;
			width: 100%;
			display: inline-block;
			cursor: pointer;
		  }
		  .container:hover .img{
			box-shadow:
			1px 1px #95e1d3,
			2px 2px #95e1d3,
			3px 3px #95e1d3,
			4px 4px #95e1d3,
			5px 5px #95e1d3,
			6px 6px #95e1d3;
			-webkit-transform: translateX(-3px);
			transform: translateX(-3px);
			transition: .5s ease;
			cursor: pointer;
		}
		.overlay {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			height: 100%;
			width: 100%;
			opacity: 0;
			transition: .5s ease;
			background: rgb(251,227,137);
			background: linear-gradient(0deg, rgba(251,227,137,0.7) 0%, rgba(243,129,129,0.7) 100%);
		  }
		  .container:hover .overlay {
			opacity: 1;
		  }
		  
		  .text {
			color: white;
			font-size: 1.125rem;
			font-weight: bold;
			position: absolute;
			top: 50%;
			left: 50%;
			-webkit-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			text-align: center;
			font-size: 0;
			width: 100%;
			img{
				width: 40px;
			}
			h3{
				font-size: 0.813rem;
				margin-top: 10px;
			}
			p{
				font-size: 0.938rem;
				margin-top: 10px;

			}
		}

		.photo2{
			width: 100%;
			height: 50%;
			display: block;

			.bg-picture{
				height: 100%;
			width: 100%;
			object-fit: cover;
			}
		}
		.photo1{
			width: 100%;
			height: 100%;
			.bg-picture{
				height: 100%;
			width: 100%;
			object-fit: cover;


			}
		}
	} 
}
.peopleContainer{
	width: 100%;
	background-image: url(img/poeplebgr.jpg);
	background-repeat: no-repeat;
	background-size: cover;

	.sectionContent{
		padding-top: 100px;
	}
	.peopleContent{
		width: 1200px;
		display: block;
		margin: auto;
		font-size: 0px;
		.peopleHolder{
			display: inline-block;
			width: 45%;
			margin-bottom: 80px;

			.peoplePicture{
				display: inline-block;
				width: 20%;
				padding-right: 5%;
			}
			.peopleDescription{
				display: inline-block;
				width: 75%;
				vertical-align: top;
				h4{
					font-size: 0.875rem;
					font-weight: bold;
					margin-bottom: 10px;
				}
				p{
					font-size: 0.938rem;
					font-family: 'Roboto', sans-serif;
					color: #999999;
					line-height: 30px;
				}
				hr{
					display: inline-block;
					width: 60px;
					vertical-align: middle;
					border: none;
					background-color: #f38181;
					height: 3px;
					margin-top: 10px;
					margin-bottom: 10px;
				}
				.i{
					font-style: italic;
					line-height: 1;
				}
			}
		}
		.padding{
			margin-left: 10%;
		}

	}

}
.latestContainer{
	width: 100%;
	.latestContent{
		width: 1200px;
		display: block;
		margin: auto;
		font-size: 0;
		margin-bottom: 100px;
		.storyHolder{
			width: 30%;
			display: inline-block;
			padding-left: 5%;
			.img{
				position: relative;
				img{
					width: 100%;
				}
			}
			.date{
				background-color: #95e1d3;
				width: 60px;
				bottom: 15px;
				left: -10px;
				text-align: center;
				position: absolute;
				h1{
					font-size: 1.875rem;
					color: white;
					font-weight: bold;
					padding-top: 10px;
					padding-bottom: 4px;
				}
				p{
					font-size: 0.938rem;
					font-style: italic;
					font-weight: 300;
					color: white;
					padding-bottom: 10px;
					line-height: 15px;
				}
			}
			h1{
				margin-block-start: 0px;
    			margin-block-end: 0px;
				font-size: 0.875rem;
				font-weight: bold;
				color: #333333;
				padding-top: 10px;
				padding-bottom: 10px;
				text-transform: uppercase;
			}
			p{
				font-size: 0.738rem;
				color: #999999;
				font-family: 'Roboto', sans-serif;
				line-height: 24px;
				font-weight: 400;
			}
			hr{
				height: 1px;
				background-color: #e5e5e5;
				border: none;
				margin-top: 15px;
				margin-bottom: 15px;
			}
			.socials{
				p{
					display: inline-block;
					vertical-align: top;
					padding-right: 20px;
					font-style: italic;
					line-height: 15px;

				}
				img{
					display: inline-block;
					height: 15px;
					padding-right: 5px;
				}
			}
		}
		.storyHolder:first-child{
			padding-left: 0px;
		}
	}
}
.openMapContainer{
	width: 100%;
	background-image: url(img/openMapBG.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 40px;
	.openMapContent{
		display: block;
		width: 1200px;
		text-align: center;
		margin: auto;
		padding-top: 50px;
		padding-bottom: 50px;
		h1{
			font-size: 1.5rem;
			color: #f38181;
			font-weight: bold;
			padding-top: 10px;
			padding-bottom: 10px;
		}
		hr{
			width: 60px;
			height: 3px;
			background-color: #f38181;
			border: none;
		}
	}
}
.footerContainer{
	width: 100%;
	.footerContent{
		display: block;
		margin: auto;
		width: 1200px;
		font-size: 0;
		.mogo{
			width: 40%;
			display: inline-block;
			.logo{
				font-size: 2.875rem;
				color: #cccccc;
				font-weight: bold;
				margin-bottom: 30px;
			}
			.text{
				font-size: 0.938rem;
				line-height: 24px;
				color: #999999;
				font-family: 'Roboto', sans-serif;
				margin-bottom: 15px;
			}
			.follow{
				color: #333333;
				font-size: 0.875rem;
			}
			.bold{
				color: #333333;
				font-size: 1.125rem;
				font-weight: bold;
			}
			hr{
				height: 1px;
				background-color: #e5e5e5;
				border: none;
				margin-top: 10px;
				margin-bottom: 10px;
			}
			.socials{
				margin-bottom: 30px;
				p{
					display: inline-block;
					font-size: 0.938rem;
					color: #999999;
					vertical-align: middle;
				font-family: 'Roboto', sans-serif;
				font-style: italic;


				}
				img{
					display: inline-block;
					padding-left: 7px;
					vertical-align: middle;

				}
			}
			.subscribe{
				font-size: 0;
				input{
					width: 230px;
					height: 40px;
					background-color: #ffffff;
					border: 1px solid #e7e7e7;
					font-weight: 300;
					font-style: italic;
					font-family: 'Roboto', sans-serif;
					padding-left: 10px;
					display: inline-block;
					box-sizing: border-box;
					border-right: none;


				}
				input::placeholder{
					color: #cccccc;
					font-size: 15px;
					line-height: 24px;
					font-family: 'Roboto', sans-serif;
				}
				button{
					display: inline-block;
					width: 150px;
					height: 40px;
					background-color: #95e1d3;
					border: none;
					font-weight: bold;
					font-size: 0.875rem;
					color: white;
					vertical-align: top;
				}
			}
		}
		.blogs{
			margin-left: 5%;
			display: inline-block;
			vertical-align: top;
			width: 30%;
			h1{
				font-size: 14px;
				text-transform: uppercase;
				color: #333333;
				font-weight: bold;
				font-family: "Montserrat";
				margin-bottom: 30px;
			}
			.blog{
				.img{
					display: inline-block;
					width: 35%;
				}
				div{
					display: inline-block;
					vertical-align: middle;
					width: 65%;
					margin-bottom: 16px;

					p{
						font-size: 14px;
						margin-block-start: 0.67em;
						margin-block-end: 0.67em;

					}
					h1{
						margin-block-start: 0em;
						margin-block-end: 0em;
					}
				}
			}
		}
		.instagram{
			display: inline-block;
			vertical-align: top;
			width: 20%;
			margin-left: 5%;
			h1{
				font-size: 14px;
				text-transform: uppercase;
				color: #333333;
				font-weight: bold;
				font-family: "Montserrat";
				margin-bottom: 30px;
			}
			.insta{
				img{
					width: 33%
				}
			}
			p{
				font-size: 13px;
				line-height: 24px;
				color: #333333;
				font-weight: 300;
				font-style: italic;
				font-family: "Roboto";
				margin-top: 15px;
			}
		}
	}
}
.copyrightContainer{
	margin-top: 30px;
	width: 100%;
	.copyrightContent{
		width: 1200px;
		display: block;
		margin: auto;
		text-align: center;
		hr{
			margin-bottom: 20px;
			height: 1px;
			background-color: #e5e5e5;
			border: none;
		}
		p{
			font-size: 0.875rem;
			color: #333333;
			font-weight: 400;
			font-family: "Montserrat";
			text-align: center;
			span{
				color: #f38181;
			}
			padding-bottom: 20px;
		}
	}
}
@media only screen and (max-width: 1200px) {
	.headerContainer  {
		.headerContent{
			width: 1000px;
			.headerWrapper{
				font-size: 0px;
				margin-top: 190px;
	
				div{
					display: inline-block;
					font-size: 10px;
					width: 22%;
					height: 3px;
					margin-left: 4%;
					position: relative;
					box-sizing: border-box;
					span{
						height: 100%;
						display: block;
						width: 20%;
						background-color: #f38181;
						border: none;
						position: absolute;
					}
					.line{
						height: 100%;
						display: block;
						width: 100%;
						background-color: white;
						border: none;
						position: absolute;	
						opacity: 0.5;
	
					}
					h3{
						margin-top: 20px;
						display: inline-block;
						font-size: 1.5rem;
						font-weight: bold;
						color: white;
						opacity: 0.7;
	
					}
					h4{ 
						margin-left: 5px;
						display: inline-block;
						font-size: 1.125rem;
						color: white;
						opacity: 0.7;
	
					}
				}
				div:first-child{
					opacity: 1;
					margin-left: 0;
					background-color: white;
				}
			}


		}
	}

	.storyContainer{
		.storyContent{
		width: 1000px;
		}
	}

	.employers{
		.employersContent{
			width: 1000px;
		}
	}

	.amazingContainer{
		.amazingContent{
		width: 1000px;
		}
	}
	.responsiveContainer{
		.responsiveContent{
			width: 1000px;
		}
	}
	.serviceContainer{
		.serviceContent{
			width: 1000px;
				.serviceImg{
					img{
						transform: translateY(50px);
						width: 450px;

						}
					}
				}
			}
	
			.messageContainer{
				.messageContent{
					width: 1000px;
				}
			}

			.teamContainer{
				.teamContent{
					width: 1000px;
				}
			}
		
			.sponsorContainer{
				.sponsorContent{
					width: 1000px;

				}
			}
			.sectionStart{
				.sectionContent{
					width: 1000px;
				}
			}
			.galery{
				.galeryElement{
					width: 50%;

				}
			}
			.peopleContainer{
				.peopleContent{
					width: 1000px;
				}
			}
			.latestContainer{
				.latestContent{
					width: 1000px;
				}
			}
			.openMapContainer{
				.openMapContent{
					width: 1000px;
				}
			}
			.footerContainer{
				.footerContent{
					width: 1000px;
					.blogs{
						margin-left: 5%;
						display: inline-block;
						vertical-align: top;
						width: 30%;
						h1{
							font-size: 14px;
							text-transform: uppercase;
							color: #333333;
							font-weight: bold;
							font-family: "Montserrat";
							margin-bottom: 30px;
						}
						.blog{
							.img{
								display: inline-block;
								width: 42%;
							}
							div{
								display: inline-block;
								vertical-align: middle;
								width: 58%;
								margin-bottom: 16px;
			
								p{
									font-size: 14px;
									margin-block-start: 0.67em;
									margin-block-end: 0.67em;
			
								}
								h1{
									margin-block-start: 0em;
									margin-block-end: 0em;
									font-size: 0.75rem;
								}
							}
						}
					}
  }  
}
.copyrightContainer{
	.copyrightContent{
		width: 1000px;
	}
}
}
@media only screen and (max-width: 1024px) {
	.headerContainer  {
		.headerContent{
			width: 90%;
			.headerWrapper{
				font-size: 0px;
				margin-top: 160px;
	
				div{
					display: inline-block;
					font-size: 10px;
					width: 22%;
					height: 3px;
					margin-left: 4%;
					position: relative;
					box-sizing: border-box;
					span{
						height: 100%;
						display: block;
						width: 20%;
						background-color: #f38181;
						border: none;
						position: absolute;
					}
					.line{
						height: 100%;
						display: block;
						width: 100%;
						background-color: white;
						border: none;
						position: absolute;	
						opacity: 0.5;
	
					}
					h3{
						margin-top: 20px;
						display: inline-block;
						font-size: 1.5rem;
						font-weight: bold;
						color: white;
						opacity: 0.7;
	
					}
					h4{ 
						margin-left: 5px;
						display: inline-block;
						font-size: 1.125rem;
						color: white;
						opacity: 0.7;
	
					}
				}
				div:first-child{
					opacity: 1;
					margin-left: 0;
					background-color: white;
				}
			}
		}
	}
	.storyContainer{
		.storyContent{
		width: 90%;
		img{
			width: 90%;
		}
		}
	}
	.employers{
		.employersContent{
			width: 90%;
			height: max-content;
			div{
				display: inline-block;
				margin: auto;
				height: auto;
				border: none;
				border-bottom: solid white 1px;
				width: 100%;
				padding-bottom: 30px;
				padding-top: 30px;
				width: 50%;
				h1{
					color: white;
					font-size: 2.5rem;
					font-weight: bold;
					padding-top: 0px;
				}
				h2{
					color: white;
					font-size: 0.875rem;
					font-family: 'Montserrat', sans-serif;
					margin-block-start: 0em;
					margin-block-end: 0em;
					margin-top: 20px;
					margin-bottom: 0;
				}
			}
			div:first-child{
				border-left: none;
			}
			div:last-child{
				border-bottom: none;
			}
		}
	}

	
	.amazingContainer{
		.amazingContent{
		width: 90%;
		.services{
			margin-top: 100px;
			text-align: left;
			font-size: 0px;
			hr{
				width: 100%;
				height: 1px;
				border: none;
				margin-top: 40px;
				margin-bottom: 40px;
				background-color: #d0c8c8;
			}
			.serviceContent{
				.img{
					width: 20%;
				}
			div{
				width: 80%;
			}
			}
		}
		}
	}

	.responsiveContainer{
		.responsiveContent{
			width: 90%;
			.phone{
				width: 200px;
				position: relative;
				left: 250px;
				top: -200px;
			}
		}
	}

	.serviceContainer{
		.serviceContent{
			width: 90%;
			.serviceAcordionContainer{

				.serviceImg{
					display: none;
				}
				.serviceAcordion{
					width: 100%;
				}
					}
					.serviceAcordion{
						display: inline-block;
						font-size: 16px;
						vertical-align: top;
						width: 50%;
		
						.margin{
							margin-bottom: 17px;
						}
						.acordionElement{
							box-sizing: border-box;
							width: 100%;
							padding: 15px;
							border: solid 1px #e5e5e5;
							font-size: 0;
		
							.arrowDiv{
								display: inline-block;
								text-align: end;
								width: 30%;
								.arrow{
									vertical-align: middle;
									display: inline-block;
								}
							}
							.iconDiv{
								display: inline-block;
								width: 70%;
								h3{
									display: inline-block;
									font-size: 0.875rem;
									vertical-align: middle;
									font-weight: 600;
		
								}
								.icon{
									vertical-align: middle;
									display: inline-block;
									padding-right: 15px;
								}
							}
						}
		
					.acordionOpen{
						width: 100%;
						border: solid 1px #e5e5e5;
						border-top: none;
						margin-top: 0px;
						box-sizing: border-box;
		
		
						p{
							display: inline-block;
							width: 90%;
							margin-top: 0px;
							padding: 15px;
							color: #999999;
							font-size: 0.938rem;
							font-style: italic;
							height: 100%;
						}
						.scroller{
							display: inline-block;
							width: 5px;
							height: 90px;
							background-color: #f5f5f5;
							border-left: 10px transparent;
							transform: translateY(0px);
							border-radius: 50px;
							.scroll{
								width: 100%;
								height: 60%;
								background-color: #95e1d3;
								border-radius: 50px;
							}
						}
					}
				}
				}
				
			}
			.messageContainer{
				.messageContent{
					width: 90%;
				}
			}
			.teamContainer{
				.teamContent{
					width: 90%;
				}
			}
				.storyContainer{
		.storyContent{
		width: 90%;
		img{
			width: 100px;
		}
		}

	}
	.sponsorContainer{
		.sponsorContent{
			width: 90%;

		}
	}
	.sectionStart{
		.sectionContent{
			width: 90%;
		}
	}

	.peopleContainer{
		.peopleContent{
			width: 90%;
			text-align: center;
			.peopleHolder{
				display: inline-block;
				width: 50%;
				margin-bottom: 80px;
				.peoplePicture{
					display: block;
					width: 100%;
					padding-right: 0px;
				}
				h4{
					margin-top: 10px;
				}
		}
		.padding{
			margin-left: 0;
		}
	}
	}

	.latestContainer{
		.latestContent{
			width: 90%;
			.storyHolder{
				h1{
					font-size: 0.72rem;
				}

			}
		}			
			
	}
	.openMapContainer{
		.openMapContent{
			width: 90%;
		}
	}
	.footerContainer{
		width: 100%;
		.footerContent{
			display: block;
			margin: auto;
			width: 90%;
			font-size: 0;
			.mogo{
				margin-bottom: 30px;
				width: 100%;
				display: block;
				.logo{
					font-size: 2.875rem;
					color: #cccccc;
					font-weight: bold;
					margin-bottom: 30px;
				}
				.text{
					font-size: 0.938rem;
					line-height: 24px;
					color: #999999;
					font-family: 'Roboto', sans-serif;
					margin-bottom: 15px;
				}
				.follow{
					color: #333333;
					font-size: 0.875rem;
				}
				.bold{
					color: #333333;
					font-size: 1.125rem;
					font-weight: bold;
				}
				hr{
					height: 1px;
					background-color: #e5e5e5;
					border: none;
					margin-top: 10px;
					margin-bottom: 10px;
				}
				.socials{
					margin-bottom: 30px;
					p{
						display: inline-block;
						font-size: 0.938rem;
						color: #999999;
						vertical-align: middle;
					font-family: 'Roboto', sans-serif;
					font-style: italic;
	
	
					}
					img{
						display: inline-block;
						padding-left: 7px;
						vertical-align: middle;
	
					}
				}
				.subscribe{
					font-size: 0;
					input{
						width: 230px;
						height: 40px;
						background-color: #ffffff;
						border: 1px solid #e7e7e7;
						font-weight: 300;
						font-style: italic;
						font-family: 'Roboto', sans-serif;
						padding-left: 10px;
						display: inline-block;
						box-sizing: border-box;
						border-right: none;
	
	
					}
					input::placeholder{
						color: #cccccc;
						font-size: 15px;
						line-height: 24px;
						font-family: 'Roboto', sans-serif;
					}
					button{
						display: inline-block;
						width: 150px;
						height: 40px;
						background-color: #95e1d3;
						border: none;
						font-weight: bold;
						font-size: 0.875rem;
						color: white;
						vertical-align: top;
					}
				}
			}
			.blogs{
				display: block;
				width: 100%;
				margin-left: 0px;
				margin-bottom: 30px;
				h1{
					font-size: 14px;
					text-transform: uppercase;
					color: #333333;
					font-weight: bold;
					font-family: "Montserrat";
					margin-bottom: 30px;
				}
				.blog{
					.img{
						display: inline-block;
						width: 20%;
					}
					div{
						display: inline-block;
						vertical-align: middle;
						width: 80%;
						margin-bottom: 16px;
	
						p{
							font-size: 14px;
							margin-block-start: 0.67em;
							margin-block-end: 0.67em;
	
						}
						h1{
							margin-block-start: 0em;
							margin-block-end: 0em;
						}
					}

				}
			}
			.instagram{
				display: block;
				width: 100%;
				margin-left: 0px;

				h1{
					font-size: 14px;
					text-transform: uppercase;
					color: #333333;
					font-weight: bold;
					font-family: "Montserrat";
					margin-bottom: 30px;
				}
				.insta{
					img{
						width: 10%
					}
				}
				p{
					font-size: 13px;
					line-height: 24px;
					color: #333333;
					font-weight: 300;
					font-style: italic;
					font-family: "Roboto";
					margin-top: 15px;
				}
			}
		}
	}
	.copyrightContainer{
		.copyrightContent{
			width: 90%;
		}
	}
  }

  @media only screen and (max-width: 768px) {
	.headerContainer  {
		.headerContent{
			width: 90%;
			.hamburger{
				display: inline-block;
			}
			.navigationButtons{
				display: none;
		}
		.headerText{
			h2{
				padding-top: 100px;
			}
		}
		.headerWrapper{
			font-size: 0px;
			margin-top: 40px;

			div{
				display: block;
				font-size: 10px;
				width: 100%;
				height: 3px;
				margin-left: 0;
				position: relative;
				box-sizing: border-box;
				margin-bottom: 50px;
				span{
					height: 100%;
					display: block;
					width: 20%;
					background-color: #f38181;
					border: none;
					position: absolute;
				}
				.line{
					height: 100%;
					display: block;
					width: 100%;
					background-color: white;
					border: none;
					position: absolute;	
					opacity: 0.5;

				}
				h3{
					margin-top: 10px;
					display: inline-block;
					font-size: 1.5rem;
					font-weight: bold;
					color: white;
					opacity: 0.7;

				}
				h4{ 
					margin-left: 5px;
					display: inline-block;
					font-size: 1.125rem;
					color: white;
					opacity: 0.7;

				}
			}
			div:first-child{
				opacity: 1;
				margin-left: 0;
				background-color: white;
			}
		}
	}
	}
	.storyContainer{
		.storyContent{
		width: 90%;

		.storyImg{
			font-size: 0;
	
			.container {
				width: 80%;
				display: block;
				margin: auto;
				margin-top: 10px;
			}

		}
	}
  }
  .employers{
	.employersContent{
		width: 90%;
	}
}
.amazingContainer{
	.amazingContent{
	width: 90%;
	.services{
		margin-top: 100px;
		text-align: left;
		font-size: 0px;
		hr{
			display: none;

		}
		.serviceContent{
			display: inline-block;
			width: 100%;
			padding-left: 0px;
			padding-top: 30px;
			padding-bottom: 30px;
			border-bottom: solid 1px #d0c8c8;
			img{
				display: inline-block;
			}
			.img{
				width: 20%;
				vertical-align: top;

			}
		div{
			display: inline-block;
			width: 80%;
			padding-left: 0px;
			p{
				color: #999999;
				font-size: 0.938rem;
				font-family: 'Roboto', sans-serif;
				margin-block-start: 0em;
				margin-block-end: 0em;
			}
			h4{
				color: #333333;
				font-size: 0.875rem;
				padding-bottom: 15px;
			}


		}
		}
		.serviceContent:last-child{
			border: none;
		}
	}
	}
}

.responsiveContainer{
	height: 780px;
	.responsiveContent{
		width: 90%;
		.phone{
			width: 200px;
			position: relative;
			left: 140px;
			top: -200px;
		}
		.tablet{
			width: 400px;
			height: 515px;
		}
	}
}

.serviceContainer{
	.serviceContent{
		width: 90%;
		.serviceAcordion{
			

		.acordionOpen{
			width: 100%;
			border: solid 1px #e5e5e5;
			border-top: none;
			margin-top: 0px;
			box-sizing: border-box;
			position: relative;


			p{
				display: inline-block;
				width: 87%;
				margin-top: 0px;
				padding: 15px;
				color: #999999;
				font-size: 0.938rem;
				font-style: italic;
				height: 100%;
			}
			.scroller{
				display: inline-block;
				width: 5px;
				height: 120px;
				background-color: #f5f5f5;
				border-left: 10px transparent;
				transform: translateY(10px);
				border-radius: 50px;
				position: absolute;
				.scroll{
					width: 100%;
					height: 60%;
					background-color: #95e1d3;
					border-radius: 50px;
				}
			}
		}
	}
}
}
.messageContainer{
	.messageContent{
		width: 90%;
		.message{
			display: inline-block;
			width: 50%;
			text-align: left;
			vertical-align: middle;

			p{
				font-family: 'Roboto', sans-serif;
				font-size: 1rem;
				line-height: 20px;
			}
		}
	}
	.messageContent1{
		.m2{
			transform: translateY(-px);
			img{
				width: 80px;
			}
		}
	}
}
.teamContainer{
	.teamContent{
		width: 90%;
		.teamDescription{
			font-size: 20px;
			h3{
				margin-top: 20px;
				font-size: 0.57rem;
				font-weight: bold;
				
			}
			p{
				margin-top: 15px;
				font-size: 0.7rem;
				font-style: italic;
				margin-bottom: 50px;
			}
		  }
		  .storyImg{
			font-size: 0;
			.teamHolder{
				width: 30%;
				display: inline-block;
				margin-left: 5%;
				margin-top: 50px;
			}
			.teamHolder:first-child{
				margin-left: 0px;
	
			  }
	
			.container {
				position: relative;
				width: 100%;
				display: inline-block;
				cursor: pointer;
			  }

			  
			margin-top: 40px;
			margin-bottom: 40px;
			.img{
				transition: .5s ease;
				width: 100%;
			}
			.img:first-child{
				margin-left: 0%;
			}
			.container:hover .img{
				box-shadow:
				1px 1px #95e1d3,
				2px 2px #95e1d3,
				3px 3px #95e1d3,
				4px 4px #95e1d3,
				5px 5px #95e1d3,
				6px 6px #95e1d3;
				-webkit-transform: translateX(-3px);
				transform: translateX(-3px);
				transition: .5s ease;
				cursor: pointer;
			}
			.overlay {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				height: 100%;
				width: 100%;
				opacity: 0;
				transition: .5s ease;
				background: rgb(251,227,137);
				background: linear-gradient(0deg, rgba(251,227,137,0.7) 0%, rgba(243,129,129,0.7) 100%);
			  }
			  .container:hover .overlay {
				opacity: 1;
				-webkit-transform: translateX(-3px);
				transform: translateX(-3px);
			  }
			  
			  .text {
				color: white;
				font-size: 1.125rem;
				font-weight: bold;
				position: absolute;
				top: 50%;
				left: 50%;
				-webkit-transform: translate(-50%, -50%);
				-ms-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
				text-align: center;
				font-size: 0;
				width: 100%;

				svg{
					width: 25px;
					fill: #f38181;
					stroke: #f38181;
					padding: 4px;
					background-color: #fbe389;
					transition: all 0.5s ease;
				}
				svg:hover{
					fill: #ffff;
					stroke: #ffff;
					background-color: #f38181;

				}
				svg:last-child{
					width: 15px;
					padding: 9px;
				}

			  }

			}
	}
}
.sponsorContainer{
	.sponsorContent{
		width: 90%;

	}
}
.sectionStart{
	.sectionContent{
		width: 90%;
	}
}

.peopleContainer{
	.peopleContent{
		width: 90%;
		.padding{
			margin-left: 0;
		}
		.peopleHolder{
			display: inline-block;
			width: 100%;
		}
	}
}
.latestContainer{
	.latestContent{
		width: 90%;
		.storyHolder{
			width: 100%;
			display: block;
			margin: auto;
			padding-left: 0px;
			padding-bottom: 30px;
			h1{
				font-size: 0.875rem;
			}

			}
		}

	}
	.openMapContainer{
		.openMapContent{
			width: 90%;
		}
	}
	.footerContainer{
		.footerContent{
			width: 90%;
			.blogs{
				display: block;
				width: 100%;
				margin-left: 0px;
				margin-bottom: 30px;
				h1{
					font-size: 14px;
					text-transform: uppercase;
					color: #333333;
					font-weight: bold;
					font-family: "Montserrat";
					margin-bottom: 30px;
				}
				.blog{
					.img{
						display: inline-block;
						width: 30%;
					}
					div{
						display: inline-block;
						vertical-align: middle;
						width: 70%;
						margin-bottom: 16px;
	
						p{
							font-size: 14px;
							margin-block-start: 0.67em;
							margin-block-end: 0.67em;
	
						}
						h1{
							margin-block-start: 0em;
							margin-block-end: 0em;
						}
					}

				}
			}
			.instagram{
				display: block;
				width: 100%;
				margin-left: 0px;

				h1{
					font-size: 14px;
					text-transform: uppercase;
					color: #333333;
					font-weight: bold;
					font-family: "Montserrat";
					margin-bottom: 30px;
				}
				.insta{
					img{
						width: 20%
					}
				}
				p{
					font-size: 13px;
					line-height: 24px;
					color: #333333;
					font-weight: 300;
					font-style: italic;
					font-family: "Roboto";
					margin-top: 15px;
				}
			}
		
		}
	}
	.copyrightContainer{
		.copyrightContent{
			width: 90%;
		}
	}
}

  @media only screen and (max-width: 480px) {
	.headerContainer  {
		.headerContent{
			width: 310px;
			.headerText{
				text-align: center;
				h2{
					font-size: 2rem;
				}
				h1{
					font-size: 3.3rem;
				}
				hr{
					width: 80px;
					height: 3px;
					background-color: white;
					border: none;
					margin-top: 50px;
				}
			}
			.headerWrapper{
				font-size: 0px;
				margin-top: 90px;
	
				div{
					display: block;
					font-size: 10px;
					width: 100%;
					height: 3px;
					margin-left: 0;
					position: relative;
					box-sizing: border-box;
					margin-bottom: 50px;
					span{
						height: 100%;
						display: block;
						width: 20%;
						background-color: #f38181;
						border: none;
						position: absolute;
					}
					.line{
						height: 100%;
						display: block;
						width: 100%;
						background-color: white;
						border: none;
						position: absolute;	
						opacity: 0.5;
	
					}
					h3{
						margin-top: 10px;
						display: inline-block;
						font-size: 1.5rem;
						font-weight: bold;
						color: white;
						opacity: 0.7;
	
					}
					h4{ 
						margin-left: 5px;
						display: inline-block;
						font-size: 1.125rem;
						color: white;
						opacity: 0.7;
	
					}
				}
			}
			
		}

	}
	.storyContainer{
		.storyContent{
		width: 310px;
		h2{
			margin-top: 40px;
		}
		}
	}
	.employers{
		.employersContent{
			width: 310px;
		}
	}

	.amazingContainer{
		.amazingContent{
		width: 310px;
		h2{
			margin-top: 40px;

		}
		.services{
			margin-top: 40px;
		}
		}
	}
	.responsiveContainer{
		height: 520px;
		.responsiveContent{
			width: 90%;
			.phone{
				width: 150px;
				position: relative;
				left: 140px;
				top: -150px;
			transform: translate(-50px,0px);
			width: 140px;
			}
			.tablet{
				width: 200px;
				height: 255px;
			}
		}
	}
	.serviceContainer{
		.serviceContent{
			padding-top: 20px;
			width: 310px;
			h2{
				margin-top: 0px;
			}
			.serviceAcordion{
				display: inline-block;
				font-size: 16px;
				vertical-align: top;
				width: 50%;

				.margin{
					margin-bottom: 17px;
				}
				.acordionElement{
					box-sizing: border-box;
					width: 100%;
					padding: 15px;
					border: solid 1px #e5e5e5;
					font-size: 0;

					.arrowDiv{
						display: inline-block;
						text-align: end;
						width: 30%;
						.arrow{
							vertical-align: middle;
							display: inline-block;
						}
					}
					.iconDiv{
						display: inline-block;
						width: 70%;
						h3{
							display: inline-block;
							font-size: 0.875rem;
							vertical-align: middle;
							font-weight: 600;

						}
						.icon{
							vertical-align: middle;
							display: inline-block;
							padding-right: 15px;
						}
					}
				}

			.acordionOpen{
				width: 100%;
				border: solid 1px #e5e5e5;
				border-top: none;
				margin-top: 0px;
				box-sizing: border-box;


				p{
					display: inline-block;
					width: 80%;
					margin-top: 0px;
					padding: 15px;
					color: #999999;
					font-size: 0.938rem;
					font-style: italic;
					height: 100%;
				}
				.scroller{
					display: inline-block;
					width: 5px;
					height: 240px;
					background-color: #f5f5f5;
					border-left: 10px transparent;
					transform: translateY(20px);
					border-radius: 50px;
					.scroll{
						width: 100%;
						height: 60%;
						background-color: #95e1d3;
						border-radius: 50px;
					}
				}
			}
		}
		}
	}
	.messageContainer{
		.messageContent{
			padding-top: 30px;
			padding-bottom: 30px;
			width: 310px;
			.message{
				display: inline-block;
				width: 65%;
				text-align: left;
				vertical-align: middle;
	
				p{
					font-family: 'Roboto', sans-serif;
					color: #999999;
					font-style: italic;
					font-size: 0.8rem;
					line-height: 20px;
				}
			}
		}
		.messageContent1{
			.m2{
				transform: translateY(5px);
				img{
					width: 60px;
				}
			}
		}
	}
	.teamContainer{
		.teamContent{
			padding-top: 0px;

			width: 310px;
			.storyImg{
				font-size: 0;
				.teamHolder{
					width: 100%;
	
							display: block;
					margin: auto;	
				
				}
				.text {
					color: white;
					font-size: 1.125rem;
					font-weight: bold;
					position: absolute;
					top: 50%;
					left: 50%;
					-webkit-transform: translate(-50%, -50%);
					-ms-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
					text-align: center;
					font-size: 0;
					width: 100%;
	
					svg{
						width: 45px;
						fill: #f38181;
						stroke: #f38181;
						padding: 4px;
						background-color: #fbe389;
						transition: all 0.5s ease;
					}
					svg:hover{
						fill: #ffff;
						stroke: #ffff;
						background-color: #f38181;
	
					}
					svg:last-child{
						width: 35px;
						padding: 9px;
					}
	
				  }
					
			}
			.teamDescription{
				font-size: 20px;
				h3{
					margin-top: 20px;
					font-size: 0.875rem;
					font-weight: bold;
					
				}
				p{
					margin-top: 15px;
					font-size: 0.938rem;
					font-style: italic;
					margin-bottom: 50px;
				}
			  }
			  
			
		}
	}
	.sponsorContainer{
		.sponsorContent{
			width: 310px;
	
		}
	}
	.sectionStart{
		margin-top: 40px;
		margin-bottom: 40px;
		.sectionContent{
			width: 310px;
		}
	}
	.peopleContainer{
		.peopleContent{
			width: 310px;
			.peopleHolder{
				text-align: center;
	
				.peoplePicture{
					display: block;
					width: 100%;
				}
				.peopleDescription{
					display: block;
					width: 300px;
					h4{
						margin-top: 20px;
					}

				}
			}
		}
	}
	.latestContainer{
		.latestContent{
			width: 310px;
			margin-bottom: 0px;
		}
	}
	.openMapContainer{
		margin-bottom: 40px;
		.openMapContent{
			width: 310px;
		}
	}
	.footerContainer{
		.footerContent{
			width: 310px;
			.mogo{
				margin-bottom: 30px;
				width: 100%;
				display: block;
				.logo{
					font-size: 2.875rem;
					color: #cccccc;
					font-weight: bold;
					margin-bottom: 30px;
				}
				.text{
					font-size: 0.938rem;
					line-height: 24px;
					color: #999999;
					font-family: 'Roboto', sans-serif;
					margin-bottom: 15px;
				}
				.follow{
					color: #333333;
					font-size: 0.875rem;
				}
				.bold{
					color: #333333;
					font-size: 1.125rem;
					font-weight: bold;
				}
				hr{
					height: 1px;
					background-color: #e5e5e5;
					border: none;
					margin-top: 10px;
					margin-bottom: 10px;
				}
				.socials{
					margin-bottom: 30px;
					p{
						display: inline-block;
						font-size: 0.938rem;
						color: #999999;
						vertical-align: middle;
					font-family: 'Roboto', sans-serif;
					font-style: italic;
	
	
					}
					img{
						display: inline-block;
						padding-left: 7px;
						vertical-align: middle;
	
					}
				}
				.subscribe{
					font-size: 0;
					input{
						width: 170px;
						height: 40px;
						background-color: #ffffff;
						border: 1px solid #e7e7e7;
						font-weight: 300;
						font-style: italic;
						font-family: 'Roboto', sans-serif;
						padding-left: 10px;
						display: inline-block;
						box-sizing: border-box;
						border-right: none;
	
	
					}
					input::placeholder{
						color: #cccccc;
						font-size: 15px;
						line-height: 24px;
						font-family: 'Roboto', sans-serif;
					}
					button{
						display: inline-block;
						width: 130px;
						height: 40px;
						background-color: #95e1d3;
						border: none;
						font-weight: bold;
						font-size: 0.875rem;
						color: white;
						vertical-align: top;
					}
				}
			}
			.blogs{
				display: block;
				width: 100%;
				margin-left: 0px;
				margin-bottom: 30px;
				h1{
					font-size: 14px;
					text-transform: uppercase;
					color: #333333;
					font-weight: bold;
					font-family: "Montserrat";
					margin-bottom: 30px;
				}
				.blog{
					.img{
						display: inline-block;
						width: 42%;
					}
					div{
						display: inline-block;
						vertical-align: middle;
						width: 58%;
						margin-bottom: 16px;
	
						p{
							font-size: 14px;
							margin-block-start: 0.67em;
							margin-block-end: 0.67em;
	
						}
						h1{
							margin-block-start: 0em;
							margin-block-end: 0em;
						}
					}

				}
			}
		}
	}
	.copyrightContainer{
		.copyrightContent{
			width: 310px;
		}
	}
}